[2017-01-19 21:55] colemickens opened #3 "Kubernetes Clusters Broken after Deployment or Unattended Upgrades"
## Problem

`docker 1.13.0` was released and seems to break outbound container->internet traffic. New clusters get the latest `docker` automatically. Existing clusters will install updates automatically and will be affected by this as the nodes reboot for whatever reason.

## Mitigation in ACS

The Azure Container Service is rolling out a fix that will pin `docker-engine` to `1.12.6` for the time

[2017-01-22 12:58] jimmystridh opened #4 "Cannot connect to newly deployed Kubernetes cluster"
Problem: after deploying a fresh cluster, it's not possible to connect by following the instructions in the guide at https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-walkthrough

To reproduce:
* Deploy a new ACS through the Portal
* az acs kubernetes get-credentials --resource-group=my-rg --name=my-container-service
* kubectl get pods

Expected result:
* List p

[2017-01-22 13:01] jimmystridh commented on #4
ssh:ing to the master and running kubectl get pods gives the same result

user@k8s-master-ABCD1234-0:~$ kubectl get pods
Unable to connect to the server: dial tcp 40.xx.xx.xx:443: i/o timeout

[2017-01-23 00:04] blackbaud-brandonstirnaman opened #5 "Recommended upgrade method"
We have several ACS clusters running right now but I'd like to get them upgraded to 1.5.x soon.

Is there a documented/recommended script to handle this? I've looked around and only found bits and pieces. Thanks!

(Also, to have a real bug here as well, the URLs on the README for the MS Code of Conduct are broken)

[2017-01-23 16:33] dbalaouras commented on #4
Sounds related to https://github.com/Azure/ACS/issues/3. If so, the workaround suggested in that post worked for me.

[2017-01-23 21:11] colemickens commented on #4
It's very likely that your service principal credentials are incorrect. Every single time we've had this reported it's because the SP creds were wrong, or the SP didn't have the correct permissions.

Try the troubleshooting steps here: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#misconfigured-service-principal

[2017-01-23 22:30] colemickens commented on #5
Thanks for filing this issue.

Fix for Code of Conduct links: https://github.com/Azure/ACS/pull/6

There is a discussion of how to do manual upgrades in this thread: https://github.com/colemickens/azure-kubernetes-status/issues/15

I'm going to leave this open so that we can go ahead and document manual upgrade procedures formally. When those are available, they'll be linked to from here and this

[2017-01-24 01:34] anhowe commented on #3
This is now fixed and resolved.

[2017-01-24 01:34] #3 closed

[2017-01-24 01:43] anhowe commented on #4
Closing, please confirm this is not SP related, and re-open if issue is reproducible.

[2017-01-24 01:43] #4 closed

[2017-01-30 11:33] slabber opened #7 "exposing with sessionAffinity is not respected"
I created a new nginx deployment using:
`kubectl run my-nginx --image=nginx --port 80`

Then expose it using:
`kubectl expose deployment my-nginx --port=80 --type=LoadBalancer --session-affinity=ClientIP`

But when I look at the options set in the LB in Azure the 'Session persistence' is set to 'None'.

Shouldn't this be 'ClientIP'?

[2017-01-30 11:38] slabber opened #8 "Preserving Source IP addresses"
I have exposed an nginx container using:
[code]

But when I look at the Source IP addresses in the nginx logs I still see the IP address of the cluster.

The docs [here](https://github.com/Azure/ACS/blob/master/kubernetes-status.md) state that Source IP preservation on L4 load balancers should be implemented but it's not clear how.  As far as I can see my traffic is still being SNAT'd on the kuber

[2017-02-04 10:44] jimmystridh commented on #4
this was indeed because of incorrect service principal details. I assumed the dialog was for a role to be created, which is why I entered new details for a non-existing account :/ Creating a SP elsewhere proved to be working fine. Thanks for your help!

[2017-03-01 19:19] colemickens opened #9 "Kubernetes Deployments are Flakey"
This can manifest itself in a couple ways:

1. The cluster is not healthy and the user is unable to issue `kubectl` commands, even from the master nodes.

2. The user is unable to retrieve credentials using the cli (aka `az acs get-credentials` or `az acs kubernetes get-credentials` fails)

The issue stems from instability in an external dependency: hkp://ha.pool.sks-keyservers.net:80

We are curr

[2017-03-01 20:03] colemickens commented on #9
To be more specific, you can see two different behaviors, depending on what type of Kubernetes cluster:

1. You choose Linux agents. The Azure deployment will report success, but the control plane may not be reachable, and the `az acs get-crendentials` may not work.

2. You choose Windows agents. The Azure deployment will time out after 90 minutes due to customScriptExtension failing on one or mor

[2017-03-01 21:30] brendandburns commented on #9
Here is a temporary work-around that I believe will fix broken nodes/masters:

On each machine:

[code]

[2017-03-02 01:03] JonathanFraser commented on #9
With regards to the key server, the issue is likely the insistence on using port 80 instead of the default port. Apparently the port 80 servers have a much lower availability.
[code]

[2017-03-02 01:06] colemickens commented on #9
Thanks @JonathanFraser. The solution we're pursuing now more closely aligns with what Docker recommends: `curl -fsSL https://apt.dockerproject.org/gpg | sudo apt-key add -` (https://docs.docker.com/engine/installation/linux/ubuntu/). Longer term we will have Azure-hosted mirrors for these things so we're not affected by other things such as S3 going down...

[2017-03-02 06:13] brendandburns commented on #9
Verified that the workaround above fixes broken nodes, here's the script to run:

[code]

[2017-03-02 06:38] brendandburns commented on #9
A few more instructions...

If you are restoring a master node, not an agent node, you need to do the following (slightly more complicated)

[code]

[2017-03-02 10:06] mfaizanse commented on #9
@brendandburns Any solution if the CSE is failing on windows nodes?

[2017-03-02 10:09] colemickens commented on #9
The failing on Windows nodes is caused by this process failing on master. For now, you need to wait for a mitigation or keep redeploying until you get one where the master comes up.

[2017-03-02 10:15] mfaizanse commented on #9
![capture](https://cloud.githubusercontent.com/assets/9897945/23502812/f47b5d54-ff5a-11e6-895a-5da5e3e6057c.PNG)

I think the master is up but the agents are in Running status.

[2017-03-02 10:17] colemickens commented on #9
The node running doesn't mean provisioning succeeded. This problem is specifically caused by a (flakey) failure at provisioning time.

[2017-03-02 10:20] mfaizanse commented on #9
How much time the CSE takes to complete successfully?

[2017-03-02 18:58] brendanacassidy commented on #9
I ran the workarounds (with the revised master-specific workaround), first on the workers, which executed without error, and then on the master, which returned a non-zero error:

`Job for etcd.service failed because the control process exited with error code. See "systemctl status etcd.service" and "journalctl -xe" for details.
`

Investing further yielded:

`gf@k8s-master-1488478457-0:~/.ssh$ sys

[2017-03-02 19:06] colemickens commented on #9
Shouldn't be more than 10 minutes. Can we please hold off on troubleshooting win+k8s on ACS until the service is back to reliable? I'm happy to help you debug ACS-Engine sooner in the other issue. Thanks.

[2017-03-02 19:13] colemickens commented on #9
@brendanacassidy That sounds like a cluster deployed with ACS-Engine, please keep those issues in the ACS-Engine repository. Additionally, that bug has already been fixed.

[2017-03-04 02:03] colemickens commented on #9
The fix was finished rolling globally at 11:42AM Pacific time. This is now resolved.

[2017-03-04 02:03] #9 closed

[2017-03-07 19:35] JackQuincy opened #10 "Service down time during kubernetes scale up and down"
When scaling up or down an ACS Kubernetes cluster that has running services that are exposed publicly. Due to some contention between ACS and Kubernetes there is downtime for the publicly exposed services, my observations has been for about 3 mins during which new connections to the service will fail. This is a known issue with a known fix. I will update this issue with an ETA when it is known.

[2017-03-09 15:59] jimmystridh opened #11 "Master died when running out of diskspace"
moving to ACS engine repo

[2017-03-09 16:00] #11 closed

[2017-03-14 12:29] dbalaouras opened #12 "Busy azure-disk regularly fail to mount causing K8S Pod deployments to halt."
I've setup Azure Container Service with **Kubernetes** and I use dynamic provisioning of volumes (see details below) when deploying new Pods. Quite frequently (about 10%) I get the following error which halts the deployment:

The Pod deployment then halts forever, or until I delete the Pod and let the ReplicationController create a new one.

**Any idea what is causing this?**

## Workflow

I have

[2017-03-15 05:43] colemickens opened #13 "Document Frequently Asked Questions (FAQs)"
Candidates:
* Why does ACS not support Docker Swarm?
* What version of docker do I get?
* Upgrades?
* ACS vs ACS-Engine

We should also clearly cross-link ACS and ACS-Engine and make sure this FAQ is plainly accessible from ACS-Engine, but I guess maybe it should primarily live here?

[2017-03-16 05:43] mfaizanse opened #14 "Unable to change agents count in ACS"
I have deployed a wind + k8s cluster on azure container service and then I tried to change the agentpool from 1 to 2 agents and got the error.
![screenshot 2017-03-16 10 38 57](https://cloud.githubusercontent.com/assets/9897945/23983362/640fde76-0a35-11e7-93b1-75052b8ddc3f.png)

I have also tried [scaling using Azure CLI 2.0](https://docs.microsoft.com/en-us/azure/container-service/container-servi

[2017-03-16 08:01] rgardler commented on #13
Thanks @colemickens, I think many of the FAQ items here will also be relevant for the ACOM docs. I suggest maintaining one here and then we can get ACOM docs team to review the one here once a quarter (or more frequently if it evolves frequently).

More candidates:

- [ ] Why do I need a Service Principle for K8s?
- [ ] How do I create an SSH key?
- [ ] How can I install *** on my agents?

[2017-03-20 15:24] wilsondy commented on #7
+1.  (You can set it manually in the Portal after creation)

Also fails with Services defined with a LoadBalancer and ClientIP affinity in their spec.

[2017-03-21 18:02] JackQuincy commented on #10
ETA for the fix to be global is this friday 3/21.

[2017-03-21 18:06] JackQuincy commented on #14
Thanks for reporting this. We have identified the issue. We are making a plan for how to roll out this fix globaly and should have an ETA for you shortly. After the fix your existing clusters will work properly in the portal. There needs to also be a fix to the Azure CLI 2.0 to not verify the password is non null.

[2017-03-22 01:12] JackQuincy commented on #10
This fix is now rolled out globally

[2017-03-22 01:12] #10 closed

[2017-03-22 01:23] JackQuincy commented on #12
Sorry for the slow response time. There is a known performance issue here with the azure linux drivers. the kubernetes repo might have more expertise on this. But I do know that Kubernetes 1.6 has a speed up for attaching the disks. A work around we have asked people to use in the short term is to preformat the disks to ext4.  Now how to do that in the PVC I'm not the most familiar with. @colemick

[2017-03-22 01:58] colemickens commented on #12
It's not the ext4 format being slow (which is addressed in 1.5.3+) since the PV was provisioned and in use, but rather wasn't able to detached and reattached when rescheduled.

@dbalaouras, I assume this is continuing to happen, even after 4-5 minutes? If not, as @JackQuincy indicated, the attach code has seen improvements in recent releases (1.5.3+, 1.6), and a full rewrite is coming in the futur

[2017-03-22 02:06] stefanegg commented on #10
Thanks for fixing this. We experienced the same downtime for even longer periods (~10 mins) before this fix, now everything works smooth during both scale up and down.

[2017-03-22 19:04] JackQuincy commented on #14
When trying to validate changes in the CLI I ran into another issue. So ETA for ETA is now delayed

[2017-03-27 19:42] dbalaouras commented on #12
Hi @colemickens and @JackQuincy - thanks for the feedback.

Indeed, this error happens every 4-5 minutes; i.e. I see the following log:

[code]
I can also verify that the Pod is deployed successfully on **a different node**, right after I delete it and let the ReplicationController reschedule it.

With respect to the _"VM where the Pod was originally scheduled"_, I don't see the Pod being re-sched

[2017-03-28 02:15] theobolo commented on #12
Exactly the same problem here !

[2017-03-28 08:41] colemickens commented on #12
What version of Kubernetes are your clusters running?

[2017-03-28 09:25] colemickens commented on #12
I *need* the instanceView from the machine where the disk was previously attached, otherwise I have no idea what's going on - the error message indicates that the detach never finished from the other node - I need the instanceView to know if that's true.

Also, please let me know the Kubernetes cluster version.

I'm still confused about timeline of events. Are the error messages about "DiskBlobNot

[2017-03-28 10:01] dbalaouras commented on #12
@colemickens no, I am not attempting to run multiple pods with the same disk. I know this is not possible, plus I need a separate disk mounted to each single Pod and I am using dynamic provisioning.

For each deployment, I create a **brand new** (with a different name each time) PersistentVolumeClaim using a StorageClass with Provisioner `kubernetes.io/azure-disk`. See my first post for more detai

[2017-03-28 10:09] colemickens commented on #12
"After a few deployments" means what? You spun up a bunch more PVC and Pods and then ran into it? Or you did a rolling update, and the Pod got rescheduled?

If you're in Slack, please ping me, might be able to dig in a bit faster.

[2017-03-30 13:59] runemy opened #15 "Kubernetes Cluster Federation"
Hi. Is Kubernetes Cluster Federation (Ubernetes) something that fits into ACS future work?

Br. Rune

[2017-03-30 21:51] JackQuincy commented on #15
@brendandburns @anhowe  I think this is possible today right? or is there more work remaining on us.

[2017-03-30 21:59] brendandburns commented on #15
afaik, this should just work.

[2017-03-31 06:52] runemy commented on #15
Thanks, good to know :) Would be nice to have some documentation/guideline on how to do this in Microsoft ACS, but I guess that is outside of this GitHub scope.

[2017-03-31 06:52] #15 closed

[2017-04-02 22:31] dbalaouras commented on #12
@colemickens thx much for the help so far. Posting some updates here to keep this thread synced:

Each "deployment" in my use case includes:

PVs usually get deleted after I uninstall the deployment (i.e. delete all above resources ^^). I did notice the following tho:

- in the Azure portal, several disks (VHDs) with the same URL were shown as mounted to a single VM. That VM was of the 2 Nodes whi

[2017-04-03 17:04] JackQuincy commented on #14
Circling back. I've been working on getting this unblocked. I've encountered a number of issues with the windows code paths. Still don't have a firm ETA on the world wide deployment but we are getting much closer.

[2017-04-04 17:22] colemickens commented on #12
Hi @dbalaouras Does this still need to be kept open? If you've not repro'd please close, otherwise give an update. Otherwise I'll go ahead and close this out again. Thanks!

[2017-04-04 17:27] dbalaouras commented on #12
@colemickens sure, I'll close it now and re-open it only if it appears again in 1.5.3. Thanks!

[2017-04-04 23:40] JackQuincy commented on #14
I've peeled the onion far enough that I got this working. We are currently rolling out a fix. The rollout should be finished by 4/14 at the latest.  When that happens I will also push for [this](https://github.com/Azure/azure-cli/pull/2764) update in the az cli to get az scale working for windows clusters.

[2017-04-05 23:27] JackQuincy opened #16 "k8s clusters created shortly after GA with api version 2016-03-30 can't scale"
There is a bug in ACS that prevents older clusters from scaling. We are currently rolling out a fix with an ETA of friday 4/14 at the latest. Should be sooner.

[2017-04-06 18:32] colemickens commented on #8
Please see this documentation: https://kubernetes.io/docs/tutorials/services/source-ip/

You need to use an annotation on the Service to opt-in to source IP preservation. You'll want to put that annotation on when creating as well, rather than adding it later as the tutorial says, as the Azure code is buggy and doesn't update the loadbalancer for certain annotations.

[2017-04-07 18:24] JackQuincy commented on #14
The fix is not globally rolled out and this should no longer be an issue in the portal.  I authored a PR on the cli to enable changing windows clusters and they merged it but it hasn't been tagged for a release yet.
@mfaizanse can you verify you can now scale up and down? And if so please close this issue

[2017-04-07 18:57] JackQuincy commented on #16
we have rolled out a fix for this globally. Error is unable to find resource ( should be network security group that isn't found). If someone runs into this again please reopen the issue

[2017-04-07 18:57] #16 closed

[2017-04-13 13:10] minherz commented on #14
@JackQuincy when the fix will be available for Azure CLI and would the following command `pip install -U --user azure-cli` be enough to apply it?

[2017-04-14 20:19] rutvijc opened #17 "The value 'Standard_NC6' of parameter 'agentProfile.vmSize' is not allowed"
I'm trying to use the `Standard_NC6` VM type for my Kubernetes cluster using ACS. I've verified that my subscription has these VM types available. This is for the `eastus` region. However, I'm getting the aforementioned error when trying to bring up a Kubernetes cluster in ACS. Am I doing something wrong?

[2017-04-14 21:40] amanohar commented on #17
@rutvijc, did you generate your template using the latest from ACS Engine? This size is now supported.

[2017-04-14 22:07] rutvijc commented on #17
I'm using Azure CLI 2.0.2. Not sure if that answers the question.

[2017-04-14 22:37] jpoon commented on #17
Try `az component update` maybe?

[2017-04-17 10:02] vankhoa011 commented on #4
Hello,
I got same problem, when I create Azure Container Cluster by CLI.

[2017-04-17 17:25] colemickens commented on #4
Please see the guidance in my earlier reply: https://github.com/Azure/ACS/issues/4#issuecomment-274618156

[2017-04-18 05:42] zecke commented on #12
I have this issue right now. The blob is not mounted on any agent but it fails to mount for 8h hours straight.

[code]

[code]

[2017-04-18 06:43] colemickens commented on #12
@zecke I realize this may be a bit much to ask, but would you be able to use https://resources.azure.com to look at the VMs in your cluster. Particularly to look at the `instanceView` tab for each VM and see if the disk is still attached to one of those VMs?

I'm wondering if a detach operation failed, leaving the disk leased out, but without Kubernetes having any way of knowing that it needs to t

[2017-04-18 10:20] zecke commented on #12
Feel free to pint me out of band. It is a galera cluster with three disks, three k8 agents and three RCs/SVCs. Two disks are attached from the resources view point of view while nothing is mounted on the agents. The specific disk above is not mounted and can't be mounted.

So apparently the storage with k8/Linux is not reliable. What other options do I have?

[code]

[2017-04-18 19:47] zecke commented on #12
Just for the record due out of band communication: The upstream developer(s) have no interest in fixing it. To me it seems if you want kubernetes with persistent storage, then right now don't use Azure. I will not comment on this issue anymore.

[2017-04-18 20:48] rossedman commented on #12
@colemickens @zecke I am having this problem as well. I am using the `default` StorageClass. I can access the blob store and see that the **vhd** is created. I can also see the drive is mounted on one of the host nodes under the `instanceView` mentioned above.

However, when I deploy my pod I get this error:

[code]

The reason for this is a `FailedMount` and then followed by a `FailedSync`. If I

[2017-04-18 21:43] colemickens commented on #12
I can assure everyone we're very interested in this being a smooth experience. I apologize for any miscommunication, I simply wanted to ensure the discussion was here on GitHub instead of in personal email. I will personally try to assist with driving this issue.

@zecke Unfortunately, without the information I've requested above, I will be unable to make any further guesses or recommendations wit

[2017-04-18 21:47] colemickens commented on #12
@rossedman Good information, let me ask some followup questions:

1. What happened after you deleted the PV + page blob? I guess it sounds like you deleted it all at once.

2. You said you looked at `instanceView` and saw the disk attached... Was that on the correct VM where the Pod was trying to be launched (`k8s-agent-8492d20d-1`)? And did it show up in the regular VM GET as well?

3. How easily

[2017-04-18 21:48] colemickens commented on #12
And re-opening this since people are clearly having some issues with `1.5.3`.

[2017-04-19 01:07] rutvijc commented on #17
I was able to use ACS Engine successfully with the `Standard_NC6` vm size. Thanks.

[2017-04-19 01:07] #17 closed

[2017-04-19 14:14] rossedman commented on #12
@colemickens will get some more information today. actually, we are migrating our k8s cluster out of dev/test and into a prod setup so the dev/test cluster we could give access to and try to do some troubleshooting. let me try to do this process again and I will provide answers to the questions above.

My suspicions are that the VHD mount is on the wrong node. The pod may be rescheduling to other

[2017-04-19 17:53] colemickens commented on #12
@rossedman That is also my suspicion. There is code specifically built to retry the attachment operation, but I fear the same may not exist for detach. (If the detach fails, but isn't specifically handled, when K8s calls to retry the detach, I believe Azure will return immediate success...)

This is why I'm so interested in seeing the `instanceView` (in @zecke's case as well)...

Thanks!

[2017-04-19 19:34] appalachios opened #18 "Unable to scale cluster with VNET peerings"
I have a Windows Kubenetes ACS cluster. I am using VNET peering in order to allow the cluster to reach out to our internal resources. When I try to scale the cluster with the VNET peerings in place, I get the error in the screenshot below.

I removed the VNET peerings and the cluster was able to expand the number of agents. Then I added the peering back.

<img width="1357" alt="screen shot 2017-04

[2017-04-19 19:56] JackQuincy commented on #18
VNET peering is not currently supported in ACS. To do VNET peering the suggested path is to use [ACS-Engine](https://github.com/Azure/acs-engine) . We are working on adding VNET peering as a supported scenario in ACS but do not have an ETA and I wouldn't expect it soon. Hope this helps.

[2017-04-19 20:29] appalachios commented on #18
Thank you. I'll switch to ACS-Engine for now.

[2017-04-19 22:54] JackQuincy commented on #18
Make sure to read some of the Github issues around peering VNETs. There are some manual steps that aren't immediately obvious.  The one I am thinking of is you need to masquerade the k8s route table into the peered network, if I have the wording right I'm not on this.

[2017-04-20 01:08] seanknox opened #19 "NC Family VMs available on subscription, but not allowed from azure-cli"
Howdy folks, our subscription shows NC Family VMs as an option, which I've provisioned via acs-engine:
[code]
Creating a Kubernetes cluster via `az acs` fails however. Using ACS v2.0.3. Is there something else we need to do, account or tool-wise?
[code]

[2017-04-20 01:13] seanknox commented on #19
NC Family also not listed in the Azure Portal, so thinking this might be account related.

[2017-04-20 04:06] JackQuincy commented on #19
NC family of vms are not currently supported by our service. They are only supported in ACS-engine currently.

[2017-04-20 04:14] seanknox commented on #19
Thanks Jack. The ACS pricing page lists GPU VMs as an option: https://azure.microsoft.com/en-us/pricing/details/container-service/ --any public plans to support GPUs on ACS (not acs-engine)?

[2017-04-20 04:14] #19 closed

[2017-04-20 04:25] JackQuincy commented on #19
@anhowe Is this supposed to be lit up in the service?

[2017-04-20 17:02] rossedman commented on #12
@colemickens So here are a couple findings that I have to report:

### Files I'm Working With

This is just a PersistentVolumeClaim a single postgres container. Nothing special. I have 3 agents nodes and 1 master. In the instance below the PV mounts to the third host agent.

[code]

[code]

After the claim is deployed:

`kubectl get pvc`
[code]

`kubectl get pv`
[code]

**InstanceView**
[code]

##

[2017-04-20 18:32] rossedman commented on #12
@colemickens As a temporary fix I ended up using your kubernetes container that can create VHDs and I mounted that into my container. That process still works.

[2017-04-20 23:33] brendandburns opened #20 "Support setting the VM type for a master node"
Users should be able to select the master node they want to run.

[2017-04-26 14:26] rossedman commented on #12
@colemickens Hey, wondering if there is any update on this? Was this what you needed? Thanks

[2017-04-29 06:43] guesslin opened #21 "ACS run out of disk inode, but k8s GC is not working"
Sometimes I got error while k8s pulling new images from Docker Registry like:

[code]

But vm disk does have free space, but no inode.

look like related to https://github.com/moby/moby/issues/10613

Does azure support any command for k8s type acs for quickly solve this problem?

[2017-05-03 00:20] kim0 commented on #5
@colemickens .. If a cluster is deployed from acs-engine. Would it be possible/advisable to edit `kubernetes.json` file and redeploy the cluster as a way to upgrade the k8s version on the cluster?

I'm guessing nodes will be killed and new nodes will be deployed to replace them. Will the k8s cluster be able to "recover" and continue transparently?

I'm guessing we will not have a chance to cordon/

[2017-05-03 00:28] JackQuincy commented on #5
@kim0 no changing that would try to create a new cluster in the same resource group and you would get issues with the master fqdn being already taken os the deployment would fail.
If you modify the _output folders apimodel.json file you could get the same cluster again, but we wouldn't make new agents/masters so we wouldnt' rerun cloud-init to install the newer k8s.
We are still looking at this an

[2017-05-03 00:29] JackQuincy commented on #14
Thought I had answered this. Yes that command was enough for me. This works today so I'm going to close this

[2017-05-03 00:29] #14 closed

[2017-05-03 00:30] JackQuincy commented on #7
@colemickens to make sure he has seen this

[2017-05-03 00:33] JackQuincy commented on #21
Sorry for slow reply. If you look at ACS-Engine issues others are running into this same issue and we are working on a fix. To my knowledge we don't have any easy command out of box outside of sshing into the node in question and cleaning up the old images. Normally this has happened when the kubelet enters a crash loop.

[2017-05-03 00:40] kim0 commented on #5
@JackQuincy Thanks! How about the following poor-man's upgrade method
Edit apimodel.json and redeploy the same cluster. Then, in order to force re-running cloud-init

for node in agents; drain(node) && force-delete(node) && redeploy; done

Super ugly I know .. But might it work?
I was hoping to also use the auto-scaler from https://github.com/wbuchwalter/Kubernetes-acs-autoscaler .. Any thoughts a

[2017-05-04 14:32] DonMartin76 opened #22 "az acs kubernetes get-credentials fails with error "No authentication methods available""
### Problem description

Since two months or so, we have scripts up and running which provision Kubernetes cluster on demand for testing purposes, and until today, we have always managed to get the `kubeconfig` out of the cluster via the following command line:

[code]

As of today (noon or so), this fails with this error message:

[code]

**Side note**: This is from a Linux client running inside

[2017-05-04 18:00] JackQuincy commented on #22
So there was an update to the CLI at head to fallback to using a paramiko agent key if the default/passed in ssh key can't be loaded https://github.com/Azure/azure-cli/pull/3102 . Are you using az cli head? Is it possible your k8sadmin.id_rsa key was unreachable/unloadable? If you are using head does this repro using 2.0.4?

[2017-05-05 06:34] DonMartin76 commented on #22
This is definitely with 2.0.4, and yes, the k8sadmin.id_rsa is absolutely readable, and works; the workaround script (see above) also uses the same key, and can connect to the master via it.

[code]

[2017-05-05 17:04] JackQuincy commented on #22
@brendandburns is it possible https://github.com/Azure/azure-cli/pull/2966 is causing this? Is Azure/azure-cli#3102 something that will fix this?

[2017-05-05 17:07] brendandburns commented on #22
Highly likely.  @DonMartin76 can you try the tool @ head and see if this is fixed?

Thanks! (and apologies)
--brendan

[2017-05-05 18:25] DonMartin76 commented on #22
Yup, @brendandburns, can confirm it works with the HEAD version of azure-cli.

[2017-05-05 18:29] brendandburns commented on #22
ok, closing this, apologies for the break...

[2017-05-05 18:29] #22 closed

[2017-05-12 09:25] guesslin opened #23 "ACS kubernetes hyperkube flaky"
There's lots of hyperkube failed during ACS running.

![image](https://cloud.githubusercontent.com/assets/69355/25991899/83de082a-3737-11e7-9817-fa10fb8a47cb.png)

I try to retrieved logs from one of `kube-controller-manager`.
[code]

Any solution for this? looks like the `etcd` maybe the culprit of all events.

[2017-05-12 16:09] JackQuincy commented on #23
@amanohar would your etcd changes in ACS engine fix this?  If not we will need to look into what is misconfigured.

[2017-05-12 18:01] JackQuincy commented on #23
I talked with @amanohar offline and her changes should be perpendicular to this change. Curious did you reach in and delete or change the masters? Or was this on the original startup? could you share your resource group/cluster resource name? I want to look at logs on my side to try to figure out why this happened.

[2017-05-15 03:57] guesslin commented on #23
@JackQuincy I did reach in and change `/etc/systemd/system/docker.service.d/overlay.conf` config of masters, but later change it back with original startup config.

resource group name: production
cluster resource name: production

[2017-05-15 18:15] JackQuincy commented on #23
So the cluster looks good from our side(where we make updates to the cluster, we don't have a health check at this time). My guess is somehow changing the config managed to break the etcd cluster. The easiest way to get back up and running is probably to deploy a new cluster and just move your workloads over to that. If you need to recover this cluster I'd look for a etcd TSG.

[2017-05-16 09:46] guesslin commented on #23
@JackQuincy FYI I fellow this documents to configure the systemd docker config
https://github.com/Microsoft/OMS-docker/blob/master/OlderVersionREADME.md#setting-up

[2017-05-16 12:32] bialad commented on #20
This issue might be as a reminder to add this issue, in that case sorry about this comment.

In my cluster creation script I add a step to change the master size after the original cluster is spun up. Haven't seen any issues so far with this approach.

[2017-05-16 12:46] bialad opened #24 "Persistant Volumes in kubernetes"
I've been trying to wrap my head around dynamic persistent storage for kubernetes on azure for a long time now, without success.

I see documentation on [kubernets.io](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#azure-disk), [in this repo](https://github.com/kubernetes/kubernetes/pull/30091), [in blogs](https://huaminchen.wordpress.com/2016/08/07/create-a-vhd-blob-using-azure-g

[2017-05-16 13:19] JackQuincy commented on #23
Interesting. I know we are running OMS on clusters internally. I'm at a conference today and tomorrow so I'm not going to have much time to look at this until Thursday but will take a look and come back with some suggestions.

[2017-05-23 06:55] Globegitter commented on #24
One thing that is not mentioned @bialad in most places, first you need to create the stoarge account and then a blob container called 'vhds'. I think I have read some talk about this being done automatically, but for now this needs to be done manually and is not really obvious. Got stock on that for a while as well. Hope it helps.

[2017-05-24 17:59] ComeMaes commented on #12
Hi everyone,
Similar situation here, been troubleshooting it for a while now.

setup info:
[code]

Cluster deployed via ACS.

I have some database server k8s deployments (single pod per deployment, each having their own PVC, dynamically provisioned).

Problems arose after this specific event, as shown by the logs of the kube controller manager:
[code]

So judging by the logs that followed, some no

[2017-05-24 19:19] JackQuincy opened #25 "Windows kubernetes clusters not working"
The image we were using was susceptible to Wanna Cry at deploy time. It would eventually run windows update and patch itself so existing clusters should be good, but the Windows team pulled the image down. We are working on a new build with a more recent version of windows and should start rolling it out by EOD, and by 6/2 we should have it globally available. We obviously need to be better about

[2017-05-26 05:33] #8 closed

[2017-05-26 05:53] jamesbannan opened #26 "Nginx-based Ingress Controller vs Azure Application Gateway"
I have a customer who is migrating the containers from AWS to Azure, and are looking to use Kubernetes on ACS.  They need SSL offloading and are wondering whether to use the Nginx-based Ingress Controller or the Azure Application Gateway.

According to the Status of Kubernetes on ACS (https://github.com/Azure/ACS/blob/master/kubernetes-status.md#future-work) the Azure Ingress Controller will lever

[2017-05-26 07:49] dbalaouras commented on #12
@colemickens , unfortunately, this issue came back to our v1.5.3 cluster as well; I'm switching to Azure File to see if that works better.

[2017-05-31 09:11] guesslin commented on #23
After migrate to new cluster (and keep the docker config un-touched), our new cluster keep consuming high CPU usage with fellowing syslog messages.

[code]
and
[code]

I found some similar problem like
https://github.com/kubernetes-incubator/kargo/issues/1187
and check with etcd version in master

[code]

Any suggestion?

[2017-05-31 19:04] sjdweb commented on #26
@jamesbannan Did you decide on this? Facing the same question.

[2017-05-31 20:12] JackQuincy commented on #25
We have started this deployment and are still on target for 6/2 EOD being rolled out globablly

[2017-05-31 20:55] JackQuincy commented on #26
The ACS team doesn't take stances on which tech option to use because each use case has specific requirements.

[2017-05-31 20:55] #26 closed

[2017-05-31 20:57] JackQuincy commented on #23
@weinong any idea about the logging and why these things wouldn't be working. I'm guessing the second one is because they aren't using json-file logging so those files don't exist. But how have you done ACS in the past?

[2017-06-01 03:49] marcusschiesser commented on #23
@JackQuincy i am the manager of @guesslin and frankly i am quite concerned about the situation. I guess you understand that we can not set up a new cluster every two weeks.

The number of CPU alerts are increasing and I wonder how long we can keep on running. We didn't modify the cluster and from my understanding ACS is meant as a service, right? We just want to run our containers and not deal wit

[2017-06-01 05:17] JackQuincy commented on #23
I honestly am not an expert here. I know @weinong has set something like this up before. @seanknox any suggestions on what might being going on here and how to fix it?

[2017-06-01 05:45] seanknox commented on #23
@guesslin @marcusschiesser How did you provision the Kubernetes cluster? Are you using acs-engine (the tool provided by this repository) to build them?

[2017-06-01 05:55] marcusschiesser commented on #23
We've been using:
`az acs create --orchestrator-type=kubernetes -g production -n prod -l
eastus --master-count 3 --agent-count 4 --ssh-key-value
~/.ssh/azure_prod.pub`
On Thu, 1 Jun 2017 at 1:45 PM Sean Knox <notifications@github.com> wrote:

[2017-06-01 06:37] seanknox commented on #23
These errors appear unrelated to Kubernetes functioning:

May 31 06:28:05 k8s-master-1B2AB7CF-0 docker[5594]: , stderr: du: cannot access '/var/lib/docker/overlay/aec50304ba5199da9ab1d23828e8a1bace0ff6d30322d765cdafef9f57203425/merged/proc/21453': No such file or directory

Basically, the Docker daemon appears to be trying to access a container that no longer exists. My guess is there is a stats p

[2017-06-01 08:26] marcusschiesser commented on #23
@seanknox thanks. Good to know that this is a non-issue. I checked the health of the etcd cluster, it returns `cluster is healthy` so that is fine, too.

Our main problem still exists though:

We set up a fresh cluster using `az acs`. After around two weeks, the `dockerd` process on the k8s-master nodes periodically takes >90%:
![image](https://cloud.githubusercontent.com/assets/17126/26671151/08b

[2017-06-01 22:16] JackQuincy commented on #23
@guesslin @marcusschiesser I was talking to @anhowe and he reminded me that @lachie83 has worked with some customers that hit this issue. @lachie83  Do you remeber what the resolution was when customers were seeing issues with:

?

[2017-06-02 16:55] JackQuincy commented on #25
So we ran into issues in our deployment. My bad... Will be rolling out a working build as soon as we have one. ETA is sometime next week in prod.

[2017-06-04 23:01] jamesbannan opened #28 "VMSS/auto-scaling support for Kubernetes on ACS"
Hi,
At the moment, it appears that VMSS is not supported for Kubernetes nodes on ACS, only Availability Sets.  This means that auto-scaling is not an option, and any node scaling needs to be done manually.
I took a look at ACS-Engine, but while that supports VMSS, it also does not support it for Kubernetes.  So, I'm guessing that this is a limitation of the core ACS platform, is this correct?
In w

[2017-06-06 13:00] abdelhegazi commented on #28
Thanks James,

Like wise, I guess this is a big blocker for us too, not sure if MS are aware of how serious this is, anyways thanks for having a look.

Abdel

[2017-06-06 17:04] JackQuincy commented on #28
Hi @jamesbannan  and @abdelhegazi ,
Sorry for the slow response.  We can't use VMSS on Kubernetes due to it not supporting required scenarios, namely PVs. Trust me I would love to. We do support scaling up and down the agent pool via PUT api which can be accessed via the "az acs scale" command, a template deployment, or the portal, and an autoscaler could be written on top of the cli or template d

[2017-06-07 16:46] andrey-moor commented on #12
Same thing happens on 1.6.2...

[2017-06-08 09:43] ams0 commented on #12
I'm looking into this as well, and on a 1.5.3 ACS-RP deployed cluster I can't reproduce the issue. I can move pods+volume back and forth the two nodes in my cluster 100% of the times; indeed, there's a bunch of errors both in the pod and in the controller, but on average after 5-6 minutes the pod is in running state:

At 22:38:16 I kill my pod:

[code]
From 22:46:02 to 22:46:33 it tries to detach

[2017-06-08 15:28] rossedman commented on #12
@ams0 I will give this a shot again since we upgraded to 1.6.2 but had gone through this process quite a few times. Redeployed with `acs-engine` and will see how it works with that as well. Thanks for the update. Will report any findings.

[2017-06-09 14:23] ComeMaes commented on #12
@ams0 Actually, looking at the controller logs I have seen that same `FullDisruption` message quite a few times but that did not lead to the situation I described above. the volumes/pods assignations are shuffled around but seem to resolve to a stable status after a few minutes. So I am pretty clueless about what specifically differed and made things go wrong...

btw, that message does not seem to

[2017-06-09 19:25] ryannix123 commented on #12
I'm starting to see this as well:

Failed to restart the virtual machine 'nuopenshift-node-1'. Error: Failed to acquire lease while creating disk 'kubernetes-dynamic-pvc-3d1f8df5-3f01-11e7-861a-000d3a029a5b.vhd' using blob with URI https://pv1sa2xen6xyzu3dgs.blob.core.windows.net/vhds/kubernetes-dynamic-pvc-3d1f8df5-3f01-11e7-861a-000d3a029a5b.vhd. Blob is already in use.

I can't stop or restart

[2017-06-10 08:29] mtbbiker commented on #12
I have the same issue, I have deployed Kafka a statefulset using pvs (K8S 1.5.3) Initially the deployment was sucessful and now I see the same issue as described above.
```Failed to attach volume "pvc-17ae0940-4db2-11e7-93a6-000d3a28d311" on node "k8s-agent-c07fe190-3" with: Attach volume "k8sansiot00-dynamic-pvc-17ae0940-4db2-11e7-93a6-000d3a28d311.vhd" to instance "k8s-agent-C07FE190-3" failed w

[2017-06-10 11:52] mtbbiker commented on #12
Some feedback:
The only way I could get my statefulset back to work was to do the following
1. Delete the statefulset with kubectl
2. Delete pvc an pv in the statefulset's namespace
3. Through the azure portal unmount the containers associate with the storage.
4. Redeploy

[2017-06-12 13:40] rossedman commented on #12
@mtbbiker I had to go through this quite a few times as well. Sometimes even forcing an unmount on the host node.

[2017-06-12 18:59] lachie83 opened #29 "Heapster pod won't start on ACS cluster provisioned with Kubernetes version 1.6.2"
## Details
Heapster pod won't start on ACS cluster provisioned with Kubernetes version 1.6.2
[code]

## Fix

### Single Master

#### Prerequisites
* Master FQDN - Found under the cluster in the Azure Portal
* SSH key used to provision the cluster

#### Steps
* Update Heapster addon deployment on master node
[code]
* Using kubectl (either locally or on the master) delete the current Heapster deploy

[2017-06-13 12:36] ryannix123 commented on #12
@mtbbiker thanks for the listing the fix. Would you mind posting the steps in more detail? Thank you.

[2017-06-13 17:24] mtbbiker commented on #12
@ryannix123 I will post them here

[2017-06-13 17:42] rossedman commented on #12
@ryannix123 @mtbbiker how is this a fix you are deleting the persistent volume? I am confused as to what this solves.

[2017-06-13 17:47] ryannix123 commented on #12
@rossedman In my case I wonder if it's an old PV claim that is causing problems. We're running OpenShift on Azure as a pilot right now so there isn't much on the cluster.

[2017-06-13 17:51] mtbbiker commented on #12
@rossedman Kubernetes were showing the Pods in a Pending state, it was left in that state for more than 20 min, in my book not acceptable on a Pod failure, i.e the Pods just didn't start again as it was complaining about not being able to mount the storage. I basically had to delete the Kafka Statefull set (3 replicas) and clean up the deployment. I then had to unmount the "orphan" storage contain

[2017-06-13 17:54] andrey-moor commented on #12
@colemickens is there any solution for that? I've seen it in both 1.5 and 1.6.

[2017-06-13 20:37] anhowe commented on #25
fixed week of June 2, 2017

[2017-06-13 20:37] #25 closed

[2017-06-14 05:08] jamesbannan commented on #28
Thanks @JackQuincy for the information - much appreciated. I have used the "az acs scale" command and it works well.  Have you seen any mechanism by which the command can be triggered based on metric thresholds? For example, using an external performance monitor to monitor the available CPU and RAM of the K8s nodes, and then triggering the "scale" command once a pre-defined threshold is met?

Than

[2017-06-14 06:35] Starefossen commented on #29
Thanks for sharing this resolution 👍🏼😄

[2017-06-14 16:59] anhowe commented on #29
this is now rolled out everywhere

[2017-06-14 16:59] #29 closed

[2017-06-15 07:12] Starefossen commented on #29
@anhowe can I update my ACS Kubernetes cluster automatically other than the manual fix described by @lachie83?

[2017-06-15 23:27] JackQuincy commented on #28
I haven't seen one on cpu and memory but I've seen them be based on things  queued up in ACS. Here is an example https://github.com/wbuchwalter/Kubernetes-acs-engine-autoscaler , it operates on ACS-engine instead of acs but it does look at current workload to decide what to do next. That repo used to do ACS, but he wasn't doing it how I suggested above

That together with the fact ACS can't run op

[2017-06-16 00:36] xizhamsft opened #30 "Creating Kubernetes LoadBalancer service leaks static IP"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I have some tests that repeatedly create/delete Kubernetes Load Balancer services. After running the tests a few times, all my services are stuck at pending phase with error message:
"Cannot create more than 2

[2017-06-16 04:03] marceldempers commented on #29
Thanks for this solution - We experienced the same issue, this fixed it! :+1:

[2017-06-16 13:43] tombuildsstuff opened #31 "Deleting Container Service leaves provisioned resources around"
Migrating this from https://github.com/Azure/acs-engine/issues/792

---

Ciao!

When provisioning an Azure Container Service instance through the API - lots of resources are created for things like Storage Accounts, VMSS etc, through what appears to be an ARM Template. When deleting the Container Service instance through the API these resources aren't cleared up - which we've had come through as i

[2017-06-16 14:12] djsly commented on #30
Root cause is upstream : https://github.com/kubernetes/kubernetes/issues/43730

[2017-06-16 17:31] JackQuincy commented on #31
This is a known limitation at this point. We have a rev of the service in the works that will provision the resources in a new resource group and delete the resource group when you delete the service but that is still a ways out and won't help with old clusters. ETA on that is still unknown.

[2017-06-20 15:43] brendandburns opened #33 "ACS Scale error message is incorrect"
Originally reported as:
https://github.com/Azure/azure-cli/issues/3759

### Description
**Outline the issue here:**
Try scaling an ACS cluster above 100 nodes:
[code]

The error says the agent count must be less than 100, but it works:
[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `$

[2017-06-20 15:43] brendandburns commented on #33
This is in the API server, not the client side.

[2017-06-21 01:08] marceldempers opened #34 "Kubernetes - Azure Load Balancer provisioning fails - name too long"
Reporting of possible bug
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE:

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

ACS with Kubernetes deployed with Azure CLI 2.0:
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f08ada2", GitTreeState:"clean", BuildDate:"2017-06-16T18:21:54Z", GoVersion:"g

[2017-06-21 03:54] jamesbannan opened #35 "Kubernetes secrets in Azure Key Vault"
Hi all,

Is it possible to create/store a Kubernetes secret in Azure Key Vault, so that when you do a container deployment, the Kubernetes Master is able to query the Key Vault service for the secret value and use it in the deployment?

Thanks,.
James

[2017-06-21 17:12] sanar-microsoft opened #36 "ACS cluster is not ready to use after deployment template reports success"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG report.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes.

**What happened**:

ACS cluster is not ready after getting created. Not able to make an SSH connection and run kubectl commands for a couple of minutes.

**What you expected to happen**:

ACS cluster should be ready to use when the creation template re

[2017-06-21 17:37] vchan2002 commented on #31
Thanks for your input!  It does appear that, when the ACS service is setup, it considers the resources it creates a part of the resource group, not as the ACS Service.  At this point, I do think the only way those resource will go away is to destroy the resource group.

[2017-06-21 17:39] JackQuincy commented on #31
If there isn't something else in the resource group you want to keep around that is by far the easiest way to clean up.

[2017-06-23 07:56] olblak opened #37 "Kubernetes: Deleting cluster node should delete non working node in priority"
**Is this a BUG REPORT or FEATURE REQUEST?**
FEATURE REQUEST

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes - 1.6.6

**What happened**:
1. I setup a new ACS cluster (kubernetes) with two nodes
2. I drained the first agent node.
3. I update ACS cluster to only have one node
4. It removed the latest created node which wasn't the drained node.
5. Only pods run on master were

[2017-06-23 15:53] rocketraman commented on #12
Running into this same problem also on a test cluster, 1.5.3. Even having a good workaround would be useful.

[2017-06-23 16:59] JackQuincy commented on #37
Currently the ACS service has no access to the details from the orchestrator to make this decision. If/When we decide to start doing more inside the vanilla orchestrators, then we will want to do something like this where we would actually cordon then drain a node before we delete it, and possibly look for non working nodes first.
But for now this is out of scope as we actually can't make a call t

[2017-06-23 20:48] olblak commented on #37
Explained like that, it totally makes sense to me.
Thank for your response.

[2017-06-26 01:56] hieuluong commented on #12
Everybody, I have a idea, Can we use [NFS ](https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/nfs) as a server ?
How do you think about this ?

[2017-06-26 07:33] dbalaouras commented on #12
@rocketraman @hieuluong Just FYI, we moved away from Azure Disk and currently using Azure File (SMB-based). $MS has put together [a blog post](https://docs.microsoft.com/en-us/azure/storage/storage-decide-blobs-files-disks) comparing the two.

I'd probably recommend Azure File for a few reasons:

1. created and mounted very fast
2. you can browse the files stored within from the Azure Portal
3. no

[2017-06-26 14:39] Anmorata opened #38 "no Container Service in azure portal after deploying kubernetes"
hello,
I deployed the kubernetes cluster with acs-engine generated script, then deployed it (specified the cluster name ). when I logged into portal there is no azure container service, only master and agent nodes. when i do az acs show with specified name it says that cluster with that name doesn't exist. therefor I'm unable to use any az acs related commands. is it a bug or I'm doing anything wr

[2017-06-26 16:59] JackQuincy commented on #38
This is by design. If you deploy with ACS-Engine you are skipping using the ACS service so we can't store that data.

[2017-06-26 16:59] #38 closed

[2017-06-26 21:44] rocketraman commented on #12
@dbalaouras  That blog post is interesting. According to it, performance for File mode is equivalent to or better than Disk for both throughput and iops:

* Max 8KB IOps : 500 IOps disk vs 1000 IOps File
* Throughput : Up to 60 MB/s per Disk for both Disk and File

Surprising! Has anyone confirmed these numbers with real-world usage?

[2017-06-28 13:37] discordianfish commented on #12
First of all, I'm using vanilla k8s. Just answering here because there were no reports in upstream. Can create one though if wanted. I just ran into the same/similar? issue. My PVC is here:

[code]

But my pod won't come up because:
[code]

In the Azure portal it shows 'Failed` with the following (pretty much unformatted) text:

[code]

Here the relevant bits from instanceView:
[code]

This happen

[2017-06-29 17:22] JackQuincy commented on #31
We recently deployed a new version of the Service in the UK and that version will correctly clean up these resources.

[2017-06-29 18:01] tombuildsstuff commented on #31
@JackQuincy awesome, thanks - I'll ask the original reporter to try this in one of the UK Data Centres and confirm this solves their issue. Any idea when that will be rolled out globally? Thanks!

[2017-06-29 18:31] JackQuincy commented on #31
No ETA. but it is what we are actively working on. this is the announcement of the change in the uk https://github.com/Azure/ACS/blob/master/announcements/2017-06-28-acs-uk-public-preview.md .
Some limitations to know. Even after we go global this behavior will only take effect on new clusters.

[2017-07-04 02:07] hieuluong commented on #12
Azure upgraded kubectl to 1.6.6. Now, when you create new ACS, the default verions of kubernetes is 1.6.6.

[2017-07-04 20:25] amritb commented on #34
@jdumars as per our discussion https://kubernetes.slack.com/archives/C5HJXTT9Q/p1499199490084628

[2017-07-06 21:32] rossedman commented on #12
Can confirm the 1.6.6 updates fixed this problem for me.

[2017-07-06 21:59] rocketraman commented on #12
I've only been running 1.6.6 for a week, but agreed: so far I haven't had any issues either.

[2017-07-07 09:07] discordianfish commented on #12
To me it happend on vanilla k8s 1.6.6. Was there something else introduced in ACS?

[2017-07-07 14:39] rossedman commented on #12
@discordianfish ACS supports 1.6.6 right now. I believe the ACS team made some adjustments to their implementation of the Cloud Controller Interface and it got rolled out with that release. There was some stuff that was stuck in merge conflict world for awhile on the k8s side I think too. Either way, excited to have this working.

I think we can call this closed? Thanks @colemickens and team.

[2017-07-07 14:59] discordianfish commented on #12
@rossedman As I said, I already rung 1.6.6. Or is there something different between vanilla k8s 1.6.6 and that same version in ACS?

[2017-07-07 21:31] rossedman opened #40 "Addon Manager Infinite Termination Loop"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Not sure. I think its a bug unless I am misunderstanding something.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes v1.6.6

**What happened**: When I try to put new addons in the addon directory none of them work. They enter an infinite termination loop. Even attempting to add a simple NGINX deployment fails.

**W

[2017-07-07 21:41] rossedman commented on #40
Just tested this on Kubernetes 1.6.2 that was deployed with ACS Engine and the same problem exists.

[2017-07-12 16:08] bialad opened #41 "acs stops working"
I've had this happen once before, but that time there were no errors. Just a unresponsive public endpoint and container creation failure. I try my best to find a reason to the failure, but both times I've ended up having to recreate the entire cluster.

This time I'm keeping the failed cluster running for debugging, but because of the cost of running two clusters I can't do that for long.

**Orche

[2017-07-12 18:25] colemickens commented on #41
Looks like some sort of resource exhaustion on the node where the pod was scheduled.

How saturated is your cluster/nodes?

`mount failed: fork/exec /bin/mount: resource temporarily unavailable`

[2017-07-12 18:26] colemickens commented on #40
Are you doing this on an HA cluster? Are you sure the addons dir is in sync on all the masters?

[2017-07-12 18:29] colemickens commented on #7
This is fixed in the latest release. I added support for plumbing that preference into the Azure LB. Someone else back ported, so it should be available in new ACS clusters running 1.6.6 or greater.

[2017-07-12 18:29] #7 closed

[2017-07-12 19:07] rossedman commented on #40
@colemickens I am. I am guessing they are not in sync which makes more sense. I will try to distribute files to all masters at once and see if that fixes it. Wasn't sure if addon manager distributed changes to all clusters but after reading through the script its more basic then I thought.

[2017-07-12 19:35] jpoon commented on #7
Yep. Supported as of v1.6.5.

Initial fix into 1.7: https://github.com/kubernetes/kubernetes/pull/45523
Backport: https://github.com/kubernetes/kubernetes/pull/46174

[2017-07-12 19:38] bialad commented on #41
I thought about that as well, but cpu and memory is well within limits.

As I remember the default-token is created with the cluster. Or am I mistaken?  What would cause mounting an existing resource to fail?

[2017-07-14 12:20] olblak opened #42 "Loadbalancer do not redirect traffic to k8s master"
**Is this a BUG REPORT or FEATURE REQUEST?**:
I am not sure yet if it's a bug or a feature

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I deployed a cluster with one master and one agent.
I then deploy a service with a public IP (Ingress).
I flagged the agent in 'maintenance mode' and migrate all pods on the master.

The loadbalancer continue to send

[2017-07-20 12:29] davenemeth commented on #34
@marceldempers Thanks for this detailed description, I have the same issue.

The name seems to be concatenated in the following way: [container service]-[resource group]-[random 6]-[random 32]
That means we have 39 characters for the container service and resource group names together.

Is there any chance to influence the load balancer name generation or do we have to rename all our resource grou

[2017-07-24 14:30] rossedman commented on #40
@colemickens Tested on a cluster with one master and had no problems. Thanks

[2017-07-24 14:30] #40 closed

[2017-07-24 20:04] rgardler commented on #34
I can confirm this is a bug. I've reproduced it and worked around it by using a shorter service and resource group name.

[2017-07-26 08:39] bialad commented on #24
Thanks for the answer.

I got it working now by creating a storage account in the same resource group. Is this a requirement? When I used a PersistentVolume to mount from another resource group it worked fine.

If I create a blob container, isn't that public accessible then. Or is it "public" to the resource group?

[2017-07-27 22:33] JackQuincy commented on #42
This is really an upstream issue. The Kubernetes cloud provider for azure is what makes this call. I believe this is by design. You could add the master vm from the portal. Though I'm not sure if the Kubernetes cloud provider will handle that properly/override it.

[2017-07-27 22:40] JackQuincy commented on #41
This is surprising.  I know that newer versions of kubernetes have made updates here and I wonder if it goes away with that. We are updating the service currently and new clusters should get these improvments in the future. @rjtsdl can you ping here when we are deployed globally

[2017-07-27 22:57] djsly commented on #42
Technically the node should still take traffic even though is it cordoned no? And kube-proxy should redirect the traffic to the node to get to the pod.

Could you share the output of the
`kubectl describe service <service-name>`

As well as the status of the LB backend probe on the cordoned node ?

Thanks.

[2017-07-28 18:19] vinayvenkat opened #43 "[HelpQuestion] about exposing a service on ACS"
**Is this a request for help?**:

When I execute the command to expose a service on ACS via:
kubectl expose deployments nginx --port=80 --type=LoadBalancer

A load balancer automatically gets created, with right backend servers in the server pool etc.

My question is how do the loadbalancers get instantiated and configured? Does this happen with the kubectl calling into the Azure CNI implementatio

[2017-07-29 10:48] Anmorata opened #44 "Static IP on Kubernetes Loadblanacer"
**What happened**:
created kubernetes service with field loadBalancerIP and pointed the ip address :
[code]

the svc goes on error saying:

`Error creating load balancer (will retry): Failed to create load balancer for service lykke-proxy/lykke-jobs-proxy2: user supplied IP Address 52.166.122.228 was not found`

when this ip address in fronted ip configuration of loadbalance and its not taken

the

[2017-07-31 04:54] jorgearteiro commented on #34
Yep, same thing here. Re-creating everything...

[2017-08-05 00:06] JackQuincy commented on #43
The azure cloud provider running in the kubelet, calls into ARM and creates the load balancer etc with the right nics in the back end pool

[2017-08-05 00:09] JackQuincy opened #46 "K8s custom VNET scaling is broken"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Announcement

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s

K8s custom VNET clusters currently fail to scale up.  This is caused by issue https://github.com/Azure/acs-engine/issues/1195 and will be fixed in acs-engine by PR https://github.com/Azure/acs-engine/pull/1194 . Then

[2017-08-07 17:07] doktoric opened #47 "Heapster setup problem on ACS HA"
Hi,

I trying to setup heapster with influxdb and grafana on a Azure Container Service HA cluster.
One of the master node was stopped.
[code]

Influxdb is running .
Grafana also running but there is no data inside the grafana.
I checked the heapster logs and says:
[code]
I am using the loadbalancer domain name as source:

[code]

Any idea why does not find the alive node in case of HA setup?

Br,

[2017-08-08 16:42] rakeshkulkarni6 opened #48 "Kubernetes deployed using ACS-Engine and Cluster Definition but kubectlcluster is not running inside the master."
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I have Deployed kubernetes container service using ACS-Engine After Deploying i am facing following issues.
1. After Deployment not able to connect to cluster using ssh key but able to connect to cluster using

[2017-08-08 18:28] JackQuincy commented on #48
Can you move this incident to acs-engine? That repo gets a lot more activity than this one and this isn't our service causing the issues.
Also my first step would be to verify your service principal is properly setup.  Look at the trouble shooting steps in this readme. https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md

[2017-08-09 07:19] Mahesh-MSFT opened #49 "Heapster (1.3.0) returns message No metrics for pod/unable to get metrics for resource cpu: no metrics returned from heapster"
**Is this a request for help?**:

---
YES

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes Version: v1.6.6
Heapster Version v1.3.0

**What happened**:
Heapster fails to collect metrics from pods. Heapster pod log message says `No metrics for pod`
[code]

**What you expected to happen**:
Heapster should

[2017-08-09 08:43] rcconsult commented on #12
Hi,
Since yesterday all my StatefulSet deployments fail due to pods stuck forever in the **ContainerCreating** step.

[code]

[code]

[code]

Looking into details I can see:

[code]

On the master I can see:

[code]

On the minion where pod was scheduled to run I can see

[code]

[2017-08-09 17:03] rossedman commented on #12
@rcconsult I don't understand how this is ACS if you are running on CoreOS? If its plain kubernetes then you are just configuring the cloud controller to use Azure? Also I think the main reason this is failing is you are using 1.5.4. I believe the PVC didn't work until 1.6.6

[2017-08-09 17:55] JackQuincy commented on #12
The Azure cloud provider in upstream Kubernetes has been getting lots of improvements. We had lots of issues when it first started trying to support Azure disks. I'm not up to date on the current state though I know it has improved since 1.5.4. With 1.7.2 having support in for managed disks, though I do think there is a p0 bug on that last I heard.

[2017-08-09 18:40] rocketraman commented on #12
This? https://github.com/kubernetes/kubernetes/issues/50150

[2017-08-10 17:08] rakeshkulkarni6 commented on #48
thanks for reply.
I have verified Service principal its fine. Kubectl cluster-info is listing cluster running but getting below error when i run kubectl get nodes

Unable to connect to the server: dial tcp IP:8080: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to

[2017-08-10 22:30] lachie83 commented on #49
Hi @Mahesh-MSFT.

I'm currently unable to repro on a clean 1.6.6 ACS provisioned cluster.

[code]

[code]

[2017-08-10 22:31] lachie83 commented on #49
I have seen it take some time initially to pull the stats.

[2017-08-11 12:06] Mahesh-MSFT commented on #49
Have given it more that 30 mins but still no cpu stats.

[code]

[code]

I am using `az acs create --orchestrator-type kubernetes --resource-group myResourceGroup --name myK8sCluster --ssh-key-value="blahblah"` and then connecting from `kubectl `on local machine after `kubectl proxy`

Are you following same steps? Does Reource Group location makes any difference? My rg is in southeastasia.

[2017-08-11 16:33] lachie83 commented on #49
I don't believe so. Let me try an repro in that region

[2017-08-11 18:56] lachie83 commented on #49
I've just tested in the southeastasia region and I'm seeing the heapster deployment being updated in a loop. I believe it's the same root cause as https://github.com/Azure/acs-engine/pull/1133

Temporary work around is to add that line to `/etc/kubernetes/addons/kube-heapster-deployment.yaml` on all masters.

[2017-08-14 04:39] Mahesh-MSFT commented on #49
Yes. You suggested workaround has solved the problem. My steps as below -

1. Note `MASTERFQDN `and `LINUXADMINUSERNAME `from "_deployment_" pane of resource group.
2. Log onto `MASTERFQDN `using Putty.
3. Run `pwd `to determine current working directory.
4. Change directory to /`etc/kubernetes/addons`
5. Run `sudo vim kube-heapster-deployment.yaml`
6. Add line `addonmanager.kubernetes.io/mode: En

[2017-08-14 08:13] Mahesh-MSFT opened #54 "SQL Server Linux Container running as StatefulSet shows status as Recovery Pending"
**Is this a request for help?**:

---
YES

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
[code]

**What happened**:
I created a custom SQL Server Linux container by following process as described below.

1. Create a standard SQL Sever Container by running `docker run -d -p 1433:1433 -e "SA_PASSWORD=<password>" -e "ACCE

[2017-08-14 16:26] lachie83 commented on #49
@Mahesh-MSFT We are working on getting the fix rolled out. Let's keep this open until it's been fixed in ACS

[2017-08-14 19:11] twright-msft commented on #54
This is probably the NFS/remote storage problem that is present in RC1 and RC2 images.  To confirm can you please pull/run the image with the :ctp2-1 tag? The bug was not present in that release.  This issue is fixed in development now and will be part of the next release after RC2.

[2017-08-15 04:47] Mahesh-MSFT commented on #54
Created new image from `microsoft/mssql-server-linux:ctp2-1` base image. Same results :-( Database still shows "Recovery Pending" status.

[2017-08-15 05:51] windswordsgd commented on #54
It looks you placed ssc.mdf, ssc.ldf to directory /ssc in the container image.  It is working fine in local machine as there is no data disk attached to it.  Then when you create a POD with a persistent volume, the volume /dev/sdc is mounted to directory (mountpoint) /ssc and it does not have the file ssc.mdf or ssc.ldf.

For instance,  a new mountpoint /mntdavid, when you write files into it,   t

[2017-08-15 09:56] chzbrgr71 commented on #54
FWIW, I have a SQL Linux container running on ACS and I used the default directory as below.

        volumeMounts:
        - mountPath: /var/opt/mssql
          name: sqldb-home

[2017-08-15 10:30] IainColledge commented on #21
In case anyone reads this, I use this workaround to avoid, basically increase the nodes OS disk capacity to about 120GB.

https://stackoverflow.com/questions/44915426/increasing-disk-space-for-agents-worker-nodes-in-azure-container-service

[2017-08-15 11:59] Mahesh-MSFT commented on #54
@chzbrgr71 can you share your k8s manifests/yaml?

[2017-08-15 12:22] chzbrgr71 commented on #54
I have it posted here: https://github.com/chzbrgr71/sql-guestbook/blob/master/kube-db.yaml

[2017-08-15 13:52] bialad commented on #41
It's always hard to say when an issue is resolved if it doesn't occur without a fix applied... But now I haven't seen it in a month, so I'm gonna close this and hope it doesn't come back.

[2017-08-15 13:52] #41 closed

[2017-08-16 08:59] Mahesh-MSFT commented on #54
Thanks @chzbrgr71. I see that you are using base image `microsoft/mssql-server-linux` to create container and then run a script to create custom database.

In my case, I have a custom database in custom database image.

@twright-msft Do you think Dockerfile for my custom database is correct?

[2017-08-16 13:58] twright-msft commented on #54
The only thing about putting your database _in_ the image is that it is ephemeral.  Any changes you make to the data will be lost if the container is deleted.  For example, when you want to upgrade the SQL Server binaries you will need to deploy a new container.  That may be fine in some scenarios like for dev/test purposes if that is what you are using it for.  Otherwise, you'll want to do someth

[2017-08-16 14:27] Mahesh-MSFT commented on #54
Thats why I am using statefulset with persistent volume.

Even if I do not put my database as part of image and try to create it using db creation script at container startup, it is failing.

I am simply trying to run db creation script at container start up - by running entrypoint.ssh -(@chzbrgr71 is running his script manually!).

Is this not valid approach?

[2017-08-16 14:28] chzbrgr71 commented on #54
My planned approach for this is to use a Kubernetes initContainer. This would allow for a .sql script to be run to pre-stage the database and any seed data. Working on a sample here: https://github.com/chzbrgr71/guestbook-web/blob/master/sql-initcontainer/db.yaml

Still just a draft, but I see this working well. Need another initContainer to wait for SQL Server to start as well.

[2017-08-16 14:50] twright-msft commented on #54
If you are trying to use remote storage for this you are hitting the RC1/RC2 bug that prevents DBs from being created on NFS/Samba shares.  Only local storage will work for now.  This is fixed already and will be in the next release.  Until then you can go back to using the :CTP1-4 tagged image which doesnt have this bug.

[2017-08-16 20:12] JackQuincy commented on #46
This has now been deployed in all the regions for the new RP.

[2017-08-16 20:12] #46 closed

[2017-08-17 20:29] bacongobbler opened #55 "How can I upgrade tiller on ACS?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Every time I try to bump the tiller version up to v2.6.0 in ACS, ACS keeps preventing that by re-deploying tiller v2.5.1, which is what was provided when bootstrapping the cluster. I'd like to upgrade tiller on my cluster, but I cannot do that without switching over to acs-engine to deploy a cluster.

[2017-08-17 22:47] JackQuincy commented on #55
This appears to be because of how we are defining our tiller addon. We have it marked as a cluster service. Which means Kuberentes doesn't want to allow updates to it through the kubernetes api. Instead it wants the updates to happen on the file in the master. We could change to using addonmanager.kubernetes.io/mode=EnsureExists .  @anhowe @seanknox  @jackfrancis  thoughts?

relevant Kubernetes do

[2017-08-17 22:50] seanknox commented on #55
`addonmanager.kubernetes.io/mode=EnsureExists` appears to be right call here. Agree @lachie83?

[2017-08-17 22:52] JackQuincy commented on #55
Also what do we think about doing this for dashboard, heapster, and the storage classes addons?  Do we want them static or do we want customers to be able to modify them through the api server

[2017-08-17 22:55] seanknox commented on #55
Good call for dashboard and heapster, though my hunch without thinking through much is that we should err on the more prescriptive end with storage classes.

[2017-08-17 22:57] JackQuincy commented on #55
I think I agree on not letting people shoot themselves in the foot with storage classes. Mostly I was wanting to look at all the extensions and decide if we want to update them while doing this.

[2017-08-17 22:59] JackQuincy commented on #55
@bacongobbler if it wasn't clear there is a work around by updating the add-on file for tiller, /etc/kubernetes/addons/kube-tiller-deployment.yaml, to be the newer spec for tiller on each master.

[2017-08-17 23:27] lachie83 commented on #55
Confirming everything @JackQuincy @seanknox have said.

[2017-08-18 09:55] jcorioland opened #58 "az acs list does not return resource group w/ new resource provider"
Using the new resource provider to deploy a Kubernetes cluster, the az acs list does not return the name of the resource group as with the old resource provider:

`az acs list -o table`

Result:

[code]

Same with JSON output:

`az acs list -o json`

Result:

[code]

[2017-08-18 17:31] bacongobbler commented on #55
I was able to work around this by deploying a hacked up acs-engine cluster with Tiller v2.6.0 but I'll keep that in mind for next time. Thanks @JackQuincy @seanknox @lachie83 for your help!

[2017-08-21 04:52] squillace opened #59 "Helm cannot be upgraded in ACS"
**Is this a request for help?**:
No.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s: Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform

[2017-08-21 05:28] squillace commented on #59
Didn't find this closed issue here: https://github.com/Azure/ACS/issues/55. Looks like we have the fix; I'll try it on my cluster. Can close this for that one if need be.

[2017-08-22 22:28] weinong commented on #58
@rjtsdl PTAL

[2017-08-22 22:32] weinong commented on #47
@jackfrancis can you help?

[2017-08-22 22:33] weinong commented on #43
closing the issue. please reopen if you have more questions.

[2017-08-22 22:33] #43 closed

[2017-08-23 00:06] rjtsdl commented on #58
@jcorioland thx for reporting. It is one of the parity gap we are having now. I will update when the issue fixed.

[2017-08-23 03:20] berndverst commented on #55
Documenting my single command workaround based on comments above (make sure to replace the host with your ACS master node)
[code]

[2017-08-23 21:29] bacongobbler commented on #55
@berndverst I tried your example and it worked, however I would suggest restarting the kube-addon-manager pod by deleting it from the kube-system namespace, e.g.

[code]

This will force a new addon-manager pod to boot and reconcile all the resources managed by the addon manager... Including tiller. This will force a fresh tiller v2.6.0 instance to be deployed.

[2017-08-23 21:33] seanknox commented on #55
JFYI we have the long-term fix for this slated to go into acs-engine soon: https://github.com/Azure/acs-engine/pull/1319

[2017-08-24 17:37] bacongobbler commented on #59
closed via https://github.com/Azure/acs-engine/pull/1319 for acs-engine. I assume this'll eventually make its way into ACS?

[2017-08-24 17:37] #59 closed

[2017-08-25 18:45] rjtsdl commented on #58
I just get the fix merged. It should take another release of az cli to broadly fix this.
Usually they cut a release by the end of a month.

@jcorioland if you want to mitigate your issue earlier, either use the nightly build as of tmr, or just get the latest source code and build it (that is what i usually do).

[2017-08-25 19:45] stuartleeks commented on #55
What is the timeline for this being fixed in ACS?

[2017-08-25 21:25] JackQuincy commented on #55
It will be in the v2 regions in a week or two if it isn't already.  In the v1 regions it will be next month.

[2017-08-26 09:33] rtyler commented on #12
For what it's worth I appeared to have run into this issue as well with a fairly recent ACS Kubernetes deployment.

[code]

I ran `az acs scale` to add a new agent, which has started to cause disk attach errors in the [controller logs](https://gist.github.com/rtyler/9109bbb55f08dbeb6035a3c6e0c140b5).

Scaling back down (in essence deleting the VM) caused the cluster to rebalance and the problem to

[2017-09-04 09:53] sjdweb opened #62 "Unable to re-deploy when agent pool uses managed disks"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

We're using managed disks mainly for the disk encryption that comes for free and requires no key management.

The deployment template has various other things in them, and we tend to redeploy often - we may add a new subscription to a Azure Service Bus topic for example.

We're not even trying

[2017-09-05 23:15] rjtsdl commented on #62
@sjdweb thanks for reporting. we are tracking this.

[2017-09-05 23:32] rjtsdl commented on #62
@sjdweb wondering how do you do the deployment? Can you give detail steps?

When you say, you will need to `add a new subscription to a Azure Service Bus topic`. Do you actually change the ARM template?

[2017-09-05 23:44] rjtsdl commented on #62
I tried using az cli to re-deploy right after the initial deployment succeed. It doesn't throw any error. I guess, there is some change in your `re-deploy`, which get the 're-deploy' is classified as an update on the existing cluster.

Note, we don't support any update scenario except for scaling. For managed disks agents, apparently, we don't support any kind update for now.

[2017-09-05 23:51] JackQuincy commented on #62
On a side note ACS-Engine now supports scaling down with managed disks so we can just remove our check and start supporting it as well.

[2017-09-06 00:13] rjtsdl commented on #62
@JackQuincy , how about scaling up with managed disks?

[2017-09-06 09:44] JackQuincy commented on #62
Yes, that was always supported.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jingtao Ren <notifications@github.com>
Sent: Tuesday, September 5, 2017 5:13:36 PM
To: Azure/ACS
Cc: Jack Quincy; Mention
Subject: Re: [Azure/ACS] Unable to re-deploy when agent pool uses managed disks (#62)

@JackQuincy<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2

[2017-09-06 09:45] sjdweb commented on #62
@rjtsdl Hi, thanks for getting back. I can consistently reproduce the error by redeploying the ARM template with no changes, straight after an initial deployment.

Has there been an update recently? I am running `azure-cli` 2.0.14 and deploying to `UkSouth`.

Yes, to the Service Bus section of resources - this is the reason behind needing to redeploy, but I see the error even without any change to

[2017-09-06 17:14] rjtsdl commented on #62
@sjdweb , as @JackQuincy pointed out, we are going to remove the scaling gate for managedDisks agent with k8s. I will update this thread later.

[2017-09-07 06:48] mfaizanse commented on #49
Is there any update for heapster with windows containers?

[2017-09-14 21:18] subho007 commented on #55
Any updates on this?

[2017-09-15 00:18] JackQuincy commented on #55
Definetly in ACSv2. V1 is still a ways out we have had a deployment having other issues that is delaying this some.

[2017-09-18 12:12] mfaizanse opened #65 "Enable RBAC in kubernetes orchestration"
**Is this a request for help?**:
HELP
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

I have deployed a kubernetes cluster (linux) using azure container service. I was trying to deploy prometheus-operator but found that RBAC is not enabled.

Is there any was enable RBAC in acs?

My query is that when will be RBAC supported in acs? I saw that ace-engine repository w

[2017-09-20 14:39] sjdweb commented on #62
hi @rjtsdl was this resolved? *seems* to be working as of today.

[2017-09-20 15:35] weinong commented on #62
yes it is. Closing the issue.

[2017-09-20 15:35] #62 closed

[2017-09-20 17:39] weinong commented on #65
It is under our backlog.
@anhowe @sauryadas

[2017-09-22 17:10] #58 closed

[2017-10-02 15:54] alastairs commented on #5
There is a serious security vulnerability affecting a dependent project of kubernetes, dnsmasq: https://groups.google.com/forum/#!topic/kubernetes-security-announce/C6IkCdk7opo. Is the ACS team any further along with implementing cluster upgrades?

[2017-10-04 13:48] rahulkhengare commented on #35
Exactly in the same situation, Any updates on this?

[2017-10-04 16:06] weinong commented on #35
https://github.com/kubernetes/features/issues/370
it's slated for 1.9

[2017-10-07 05:11] davidobrien1985 opened #69 "Error wrt OpenApi"
*Bug Report*

**Kubernetes**

I deployed K8s onto ACS via an ARM template and am now constantly receiving this error below.
Is this known?

**What happened**:
W1007 16:05:06.385371   10432 factory_object_mapping.go:423] Failed to download OpenAPI (the server could not find the requested resource), falling back to swagger

**What you expected to happen**:

**How to reproduce it** (as minimally and

[2017-10-07 16:57] costrouc commented on #69
I had the exact same issue.

[code]
[code]

[2017-10-09 16:37] JackQuincy commented on #69
hmmm... Seems like a down stream issue. If you use an older version of kubectl does it work?
for windows
"curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.8.0/bin/windows/amd64/kubectl.exe"
for Linux
"curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.6.6/bin/linux/amd64/kubectl"
for mac
"curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.

[2017-10-09 16:37] JackQuincy commented on #69
https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-binary-via-curl

[2017-10-11 15:55] tlyng commented on #12
I'm having similar issues with K8S 1.7.5 and 1.8.0 on Azure. I've tried deploying using tectonic installer and acs-engine, still encountering timeouts for mounting and stale detached disks. How can I fix this? Currently Azure does not support Kubernetes by the looks of it.

[2017-10-11 18:21] AlexeyAtIgloo opened #70 "Broken dashboard in Kubernetes cluster 1.7.7"
**Is this a request for help?**:
---
yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

[code]
`azure-cli (2.0.18)`

**What happened**:

- Created new Kubernetes cluster of the api-version=2017-07-01
- Obtains kube config
- Started kubectl proxy
- Tried accessing ui dashboard

RESULT:
Unable to access

[2017-10-11 19:55] hmarcelodn commented on #49
I have heapster running as explained by @Mahesh-MSFT but I am still experiencing de unknown message for current resources. Any other way to try that ?

[2017-10-14 05:32] tiagorosendo commented on #70
try put / after proxy, this work to me

[2017-10-14 05:38] tiagorosendo opened #71 "SSL Offloading"
How to do ssl offloading in windows nodes since the nginx ingress controller only works on linux

[2017-10-16 04:30] oriyastyle commented on #70
I am experiencing the same issue and putting / after proxy did not resolve the error. Kubectl client version is 1.8.1 and server version is 1.7.7. Any other suggestions?

[2017-10-16 10:29] IainColledge commented on #12
Just had this randomly start since last week on a cluster that has been running fine, wonder if anything has changed with blob storage.

[2017-10-16 13:39] oriyastyle commented on #70
Update - not sure why but the dashboard worked this morning once you put / after proxy.

[2017-10-16 13:54] AlexeyAtIgloo commented on #70
@tiagorosendo Yep that did it, but interestingly `http://localhost:8001/ui` use to redirect to:
`http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/`
(just tested on latest version on minikube)

now it does not add `/` at the end of URL.
redirect from `http://localhost:8001/ui/`works fine.

Is that a misconfiguration of api-server or new behaviour?

[2017-10-16 17:59] IainColledge commented on #12
To get things working again I did the following:

1. Looked at the pods that are causing the issue and the nodes they were on.
2. Stopped the node and when stopped detached any dangling disks.
3. Started the node.

Rinse and repeat 2&3 until all done and the cluster seems ok again.

[2017-10-16 18:49] christianlafleur opened #72 "Error deploying custom template"
Goal is to create ACS kubernetes cluster with existing custom vnet as describe in https://github.com/Azure/ACS/tree/master/docs/VNET (using azuredeploy.kubernetes.json template)

Falling with error :

PERATION ID
ED5DB6B96588737A
TRACKING ID
b75ecca6-6814-4f48-9296-c68cc2c3e06d
STATUS
BadRequest
PROVISIONING STATE
Failed
TIMESTAMP
10/16/2017, 12:28:29 PM
DURATION
9 seconds
TYPE
Microsoft.Container

[2017-10-16 23:43] ComeMaes commented on #4
Hi,
I'm running into a similar problem on a cluster deployed months ago (and has been operating fine).
kubectl can't connect to server, either from local machine or from k8s master node. I looked into the service principal situation but it seems in order - from the command provided in the "Misconfigured Service Principal" steps in [comment #4](https://github.com/Azure/ACS/issues/4#issuecomment-274

[2017-10-17 00:50] JackQuincy commented on #4
@ComeMaes Is this a single master or a multi master cluster? If your service principal is still good, I'd ssh onto the/a master and check on the state of the api server. To do this
sudo docker ps
you should see a list of docker containers and hopefully one like this
2de14ed7ad2a        gcrio.azureedge.net/google_containers/hyperkube-amd64@sha256:8ff9b34b24330af95b423a883dbf61260277992317236308962a

[2017-10-17 05:29] chetan3434 opened #73 "Service Bus listener fails in Kubernetes ACS Custom vNet cluster"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes , node version 1.7.5 deployed with Custom vNet

**What happened**:
I've deployed Kubernetes ACS with custom vNet.
Then implemented java spring application which reads messages from Azure Service Bus. I've referred t

[2017-10-17 05:32] chetan3434 commented on #73
I've also raised an issue on Azure Service Bus github ,
https://github.com/Azure/azure-service-bus-java/issues/144
But looking at issue's behavior it only occurs in K8S ACS with Custom vNet cluster, so raising it here.

[2017-10-17 08:27] ComeMaes commented on #4
Thanks @JackQuincy
It looks like the api-server is indeed not up, but because the container is failing on start up. api-server container logs show a problem with etcd:

`controller.go:128] Unable to perform initial IP allocation check: unable to refresh the service IP block: client: etcd cluster is unavailable or misconfigured`

Actually, etcd is mentioned in several times in error messages (`List

[2017-10-17 10:46] ComeMaes commented on #4
Seems like a simple restart of etcd did the trick. Thanks for the help!

[2017-10-17 14:23] christianlafleur commented on #72
Solved. Typo writing parameter for subnet

[2017-10-17 14:23] #72 closed

[2017-10-17 16:30] Anmorata opened #74 "The VM Size of Master is not allowed in your subscription"
I'm trying to install kubernetes on azure with az cli, but I get the error:

[code]

I tried to install from web, but I get the same error there. as I know there is no way to choose master vm size (the only way is with acs-engine).

[2017-10-17 20:13] doggy8088 opened #75 "No such file or directory: 'C:\\Users\\username/.ssh/config'"
**Is this a request for help?**:
---

yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

* Created new Kubernetes cluster
  `az acs create --orchestrator-type=kubernetes --resource-group K8SDemoACS3 --name=myK8sCluster3 --agent-count=2 --generate-ssh-keys --windows --admin-username

[2017-10-18 10:57] doggy8088 commented on #75
Install the latest `az`-dev version solved my problem.  Here is the steps to workaround this:

1. [Install Python](https://chocolatey.org/packages/python)
  `choco install python -y`
2. [Install pip](https://pip.pypa.io/en/stable/installing/)
  `wget https://bootstrap.pypa.io/get-pip.py`
  `python get-pip.py`
3. [Install the latest Azure CLI 2.0](https://docs.microsoft.com/en-us/cli/azure/install-

[2017-10-18 10:57] #75 closed

[2017-10-18 11:05] doggy8088 commented on #70
@AlexeyAtIgloo I got the same issue just exactly like you.

@tiagorosendo What do you mean **_try put / after proxy_**?

[2017-10-18 13:17] AlexeyAtIgloo commented on #70
@doggy8088 try this `http://localhost:8001/ui/` or that `http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/` url (assuming you are doing `kubectl proxy`)

[2017-10-18 16:47] AlexeyAtIgloo commented on #74
Same here. Tried portal and cli, looks like it is unusable region at the moment.

[2017-10-18 17:04] doggy8088 commented on #70
@AlexeyAtIgloo Yes, I do put slash ( / ) in end of this url.  The problem is still exist.

[2017-10-18 22:31] doggy8088 commented on #70
I also tried on creating ACS for Windows Containers.  Same issue.  K8S Web UI unable to be shown correctly.

Here are the steps to reproduce this problem:

1. `az group create -n K8SDemoACS7 -l eastus2`
2. `az acs create -t kubernetes -g K8SDemoACS7 -l eastus2 -n myK8sCluster7 --agent-count=1 --windows --admin-username azueruser --admin-password Password1234 > acs_k8s_create.log`
3. `az acs kubern

[2017-10-18 22:40] JiangtianLi commented on #70
@AlexeyAtIgloo  Does your cluster have Windows agent node or it is a Linux cluster only?

[2017-10-18 22:45] doggy8088 commented on #70
@JiangtianLi Due to his command: `az acs create --orchestrator-type kubernetes --resource-group $CLUSTERNAME --name $CLUSTERNAME --master-count 3 --agent-count 3 --ssh-key-value <sensitive> --api-version 2017-07-01`.  That is a Linux agent node only.

[2017-10-18 22:47] JiangtianLi commented on #70
@doggy8088  Thanks. That's what I thought. I was told that on a yammer thread, it mentioned the issue is about Windows. So just curious.

[2017-10-18 23:12] JackQuincy commented on #70
I tried this with a 1.7.5 cluster just barely
calls that worked:
http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy
http://localhost:8001/ui
I got the same error as the original poster on
http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy

that error might be related to azure docker sending large packets. Not sure. Si

[2017-10-19 13:16] doggy8088 opened #76 "Windows agents scaling throwing error: Changing property 'agentPoolProfile.OSType' is not allowed."
**Is this a request for help?**:
Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Unable to change `new-agent-count`

**What you expected to happen**:
Able to change agent count

**How to reproduce it** (as minimally and precisely as possible):
1. `az group create -n K8SDemoA

[2017-10-19 19:34] ams0 commented on #70
All of a sudden my dashboard is back. I didn't do anything, really, just wait it out. Before (i.e. about 12 hours ago), I got this error:
[code]

And just now, same cluster, same browser, works fine.

[2017-10-19 19:40] AlexeyAtIgloo commented on #70
@ams0 I don't think thats an error, thats a standard response to the curl client. I get same output on a working dashboard.

[code]

[2017-10-19 20:37] doggy8088 commented on #70
Neither http://localhost:8001/ui nor http://localhost:8001/ui/ works.

I finally realized that it will work if you append a slash ( / ) after the `http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy` url which the RIGHT url will be `http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/` and all the problem will gone. 😢

[2017-10-19 22:55] JackQuincy commented on #76
This appears to be a service bug. I believe it only affects windows clusters. I'll look into what is happening here

[2017-10-23 10:42] #42 closed

[2017-10-23 10:42] #37 closed

[2017-10-23 14:58] jungho opened #77 "Provisioning in canadaeast and canadacentral regions failing."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

Provisioning ACS with K8S in CanadaEast and CanadaCentral regions is failing with the following error.

{
  "code": "BadRequest",
  "message": "An error has occurred in subscription 17ef54cf-017b-4bf5-bdb8-90d18438ef14, resourceGroup:

[2017-10-23 16:58] jungho commented on #77
Hello, I upgraded the az version to 2.0.19 and this issue does not exist.  Therefore, please close.

[2017-10-23 16:58] #77 closed

[2017-10-24 04:17] rboorgapally opened #78 "Error when retrieving credentials: No such file or directory: '/home/myname/.ssh/config"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:
The cluster is created successfully. But when I try to get credentials using the below command:

`az acs kubernetes get-credentials --resource-group myResourceGroup --name clusterName`

I get the

[2017-10-24 23:15] rjtsdl commented on #74
@Anmorata  @AlexeyAtIgloo ,

WestEurope was suffering Standard_D2 exhaustion. We have switched the default master vm size to Standard_D2_v2. Can you retry, see if the problem still there?

[2017-10-24 23:22] weinong commented on #78
You need to supply the ssh private key in order to download kubeconfig from the cluster:
`az acs kubernetes get-credentials -n $cluster -g $resourceGroup --ssh-key-file /path/to/ssh_private_key`
when `--ssh-key-file` is absent, the cli expects the ssh private key to be at `~/.ssh/id_rsa`.

[2017-10-24 23:22] #78 closed

[2017-10-25 02:32] rboorgapally commented on #78
The private key is present, but the error is not related to the private key. It is looking for some config file.

[2017-10-25 08:51] moagarw commented on #16
I facing this error right now ..

I want to change my cluster count from 6 to 3.

My current cluster vm config is - Standard D4_v2.
K8s version - v1.6.6

I created this cluster around 2 weeks back.

This is the command i am using - az acs scale --name <cluster-name> --new-agent-count 3 --resource-group <resource_group>

Error thrown -
{
, StatusMessage: \n {
  "error": {
    "code": "OperationNotA

[2017-10-25 09:10] Anmorata commented on #74
yes its fixed

[2017-10-25 09:10] #74 closed

[2017-10-25 14:07] vishal-biyani opened #79 "Swarm Mode & latest docker version"
**Is this a request for help?**: Yes
The ACS currently only supports Docker Swarm at Docker version lower than 1.12. After 1.12, Swarm mode was introduced which brings a lot of changes. ATM ACS does not support latest Docker version and Swarm mode (One can run it in ACS-Engine with a template). Is there any plan in near future to introduce the current version of Docker and Swarm in ACS umbrella?

[2017-10-25 16:14] JackQuincy commented on #79
ACS supports swarm mode in these regions
UK West
UK South
West Central US
West US 2
Canada East
Canada Central
West India
South India
Central India
The orchestrator name is DockerCE. Try one of those regions with that orchestrator and let me know if it works for you.

[2017-10-25 17:57] AlexeyAtIgloo commented on #70
As we have a workaround with a slash at the end, I don't mind closing this as it is nothing major.

[2017-10-25 18:51] colemickens opened #80 "ACS/AKS relationship + roadmaps"
(As this is a meta question, neither a feature request nor issue, I'm forgoing the template...)

There were some questions about this in `#sig-azure` and I had my own questions as I was kicking the tires today. In general, I'm hoping that the ACS/AKS team(s) can document the answers to these questions and/or generally highlight the expected roadmaps for ACS and AKS.

Questions:

* Will ACS and AKS

[2017-10-25 20:22] JackQuincy opened #81 "ACS only accepts calls with the most recent patch version in each minor version"
**Is this a request for help?**:
no
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
all

**What happened**:
if a call is sent with a orchestrator version older than the most recent the call will be rejected, even if this is a cluster update to scale the cluster.

**What you expected to happen**:
Scaling agents

[2017-10-25 20:33] JackQuincy commented on #81
This only applies to these regions https://github.com/Azure/ACS/blob/master/announcements/2017-08-04_additional_regions.md

[2017-10-25 21:59] rocketraman commented on #80
Relevant link: https://azure.microsoft.com/en-us/blog/introducing-azure-container-service-aks-managed-kubernetes-and-azure-container-registry-geo-replication/

[2017-10-25 23:28] Preskton commented on #80
Very interested in feedback here, as we have spent considerable effort and brainpower toward making ACS work for our deployments.

[2017-10-26 05:40] vishal-biyani commented on #79
Thanks @JackQuincy I will try out and let you know if I run into any issues.

[2017-10-26 05:50] vishal-biyani commented on #79
@JackQuincy , Does ACS REST APIs accept 'DockerCE' as orchestrator  type?
I get `request: OrchestratorType has unknown orchestrator: DockerCE` response for bellow payload.

[code]

[2017-10-26 07:12] JackQuincy commented on #79
It depends on the api version. 2017-07-01 supports dockerCE. 2017-01-31 actually supports SwarmMode  named as it.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Vishal <notifications@github.com>
Sent: Wednesday, October 25, 2017 10:50:26 PM
To: Azure/ACS
Cc: Jack Quincy; Mention
Subject: Re: [Azure/ACS] Swarm Mode & latest docker version (#79)

@JackQuincy<https

[2017-10-26 15:40] zimmertr commented on #80
I am also interested in this. I posted this question in #sig-azure a few days ago and didn't get a huge response from the dev team.

[2017-10-26 22:03] JackQuincy commented on #76
This was caused by an issue in the swagger for ACS. It should be fixed now if you use the [latest](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.0.20) az cli or cloud shell.

[2017-10-26 22:04] JackQuincy commented on #81
The PR above is teh fixed that is needed to get this fixed in ACS but it isn't running our our servers yet so I'll reopen it.

[2017-10-27 11:24] sauryadas commented on #80
Answers inline-

1. Will ACS and AKS continue to co-exist?
    Yes for the time being. ACS is a GA service while AKS is a preview service. When they reach parity we will revisit this topic.

2. Is ACS deprecated? If so, does this mean generally DC/OS and Swarm are going to be deprecated in Azure (other than where supported directly by Mesosphere and Docker Inc).
    ACS is not deprecated. We are l

[2017-10-27 11:24] #80 closed

[2017-10-27 17:09] doggy8088 commented on #70
It's already an known issue [here](https://github.com/kubernetes/kubernetes/issues/52729) and been listed on [kubernetes/dashboard](https://github.com/kubernetes/dashboard)'s FAQ here: [I am seeing 404 errors when trying to access Dashbord. Dashboard resources can not be loaded.](https://github.com/kubernetes/dashboard/wiki/FAQ#i-am-seeing-404-errors-when-trying-to-access-dashbord-dashboard-resour

[2017-10-27 17:10] doggy8088 commented on #70
@AlexeyAtIgloo I think you can close this issue on your own.

[2017-10-27 18:16] AlexeyAtIgloo commented on #70
@doggy8088 thanks for references. Closing it as it should be fixed in future API server.

[2017-10-27 18:16] #70 closed

[2017-10-27 19:25] doggy8088 commented on #76
@JackQuincy The latest az cli doesn't works.  See the log:

[code]

[2017-10-28 16:46] bremnes opened #82 ""Updating Kubernetes version and agent node scaling are mutually exclusive operations""
**Is this a request for help?**:
Yes, solutions or workarounds would be appreciated

---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.7.5
`Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2

[2017-10-28 18:21] JackQuincy commented on #82
Thank you for reporting this. The current work around would be to use the az cli. It does a GET then PUT so it shouldn't change the version. If you get the same error you can work around it by doing an az acs scale with the agent count being your current agent count. That should trigger and upgrade. Then you can scale when that is done. Upgrade is time consuming. Taking about 10 mins per node to b

[2017-10-28 18:37] JackQuincy commented on #82
Of you were wondering the reason I have two paths is it depends on which version of the az cli you have.

[2017-10-28 18:51] bremnes commented on #82
Thanks for the quick reply, Jack.

Doesn't seem like `az acs scale` supports multiple agent pools, but I tried with different input to the `--new-agent-count` parameter. All ended up in a similar error message:
`az acs scale -g MyContainerServiceRg -n MyContainerService --new-agent-count 2`

Using the `--debug` flag I can see that it does a GET then PUT like you said. But it ends up in a 400 messa

[2017-10-28 19:19] JackQuincy commented on #82
Hmm... #81 is getting in the way. A older version of the cli might work. We updated the api version calls to the service use. An older cli would behave more like portal. And the work around might work.
#81 is code complete we just need to update the service. Which we should be able to do next week.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Lars Kristian Bre

[2017-10-31 02:37] lrills commented on #55
Any update on this? Cluster in Southeast Asia still can't upgrade with `helm init --upgade` now.

[2017-11-01 07:14] doggy8088 commented on #76
@JackQuincy The problem is confim solved. Thanks.

[2017-11-01 07:14] #76 closed

[2017-11-01 13:55] bremnes commented on #82
@JackQuincy, FYI we tried with an older cli (2.0.18) and then we got another error:

  "code": "PropertyChangeNotAllowed",
  "message": "Changing property 'agentPoolProfile.OSType' is not allowed.",
  "target": "agentPoolProfile.OSType"
 }

I'm assuming that is related to the fact that we have a Linux agent pool and a Windows agent pool and `az acs scale` doesn't fully support multiple, mixed agen

[2017-11-02 12:21] adhodgson1 commented on #71
The workaround I have used is to have a Linux agent pool and use the Nginx ingress controller on that with ingresses that point at the Windows nodes.  I don't believe a Windows ingress controller exists currently.

[2017-11-03 21:29] JackQuincy commented on #81
This fix is now rolling out. We are in about 50% of our datacenters

[2017-11-03 21:30] JackQuincy commented on #82
Sorry just saw this. Yeah the old CLI doesn't understand ostype and our code in our service does something silly here
on a side note
This fix is now rolling out. We are in about 50% of our datacenters

[2017-11-05 00:18] samlyhuang commented on #49
I have the same problem
kubernetes version:1.6.2
heapster version:1.3.0

[code]

[code]

[code]

[2017-11-05 06:16] berndverst commented on #55
@lrills I manually had to update the add on definition on the Kubernetes master again as a workaround. Like so:
[code]

No other method has reliably worked for me.

[2017-11-05 07:22] bacongobbler commented on #55
I’m going to reopen this for visibility. I’m still making weekly references to this ticket in #helm-users. :)

[2017-11-06 09:56] jcharlytown commented on #12
We ran into this issue on an 1.6.6 cluster as well. @IainColledge, I tried to recover the node in question like you described. However, it didn't work for me. Detaching the disk still failed with said error message, even after stopping the node. How exactly did you stop the node?

[2017-11-06 10:27] IainColledge commented on #12
@jcharlytown In Azure portal, drop down into the VM control pane for the node by clicking on it.

Click on Stop.

Then click on disks and remove the non OS ones.

Click on Start and it should connect back into the cluster in about 10 mins.

Remove the "stuck" pods so they can be recreated by the Stateful Set, which I'm assuming you're using here.

[2017-11-06 10:38] vishal-biyani commented on #79
Thanks a lot, @JackQuincy appreciate the prompt responses. I will close this issue.

[2017-11-06 10:38] #79 closed

[2017-11-06 10:50] bremnes commented on #82
Tried again through the portal to see if the change had cascaded to "our" data center, got another error now:

[2017-11-06 12:22] hmarcelodn commented on #49
@samlyhuang it should work if you enable heaspter in the cluster and apply resources/limits to the manifest for the container. did you try that ?

[2017-11-06 13:47] jcharlytown commented on #12
@IainColledge, thanks for your reply. This is exactly what I did - both via ``az vm`` and the portal. Maybe I didn't wait long enough for the VM to stop completely. I will try to be more patient next time (hopefully it doesn't happen again).

[2017-11-06 17:11] JackQuincy commented on #82
What datacenter is this?

[2017-11-06 17:24] bremnes commented on #82
It's UK West @JackQuincy. I get the same error using CLI version 2.0.20. From the PUT call with `--debug`:

If it helps you dig out some information from the logs on your side I just ran the command and got this in the response header.

'x-ms-request-id': '70f27aaf-2ab2-45a3-b7e2-12a827fc55ee'
'Date': 'Mon, 06 Nov 2017 17:15:54 GMT'

[2017-11-06 22:02] shayansarkar commented on #28
While this isn't exactly a scaling the cluster solution, I ran across this preview feature

https://github.com/Azure/aci-connector-k8s

It looks like you can connect your cluster to the Azure Container Instances service and run pods in there if you need to temporarily scale up your system.  Is this a feature that is going to be finalized any time soon?

[2017-11-06 22:53] JackQuincy commented on #28
Another team runs that repository so I'm not sure of their roadmap/timeline etc. I'd ask with an issue on their repository.

[2017-11-07 03:32] samlyhuang commented on #49
@hmarcelodn
I have enabled heaspter in the cluster.When I open kubernetes dashboard,I can find CPU usage and Memory usage,so I think heaspter work well.

my yaml file:
[code]
do you find any error configs?

[2017-11-07 18:08] JackQuincy commented on #81
this is out. and a new issues is tracking a new issue here. After this calms down I'm going to update our acceptance tests to include a scaling an older cluster test

[2017-11-07 18:08] #81 closed

[2017-11-07 18:10] JackQuincy commented on #82
I found the issue... I'm really sorry about how long this is taking to resolve. I have a code fix and we are testing it in validation environments currently.

[2017-11-07 21:06] luhkevin commented on #74
I'm getting something similar, but with westus2:
`The VM size of Master is not allowed in your subscription in location 'westus2'`
What's the deal here?

[2017-11-07 21:23] JackQuincy commented on #74
@luhkevin That looks like your subscription doesn't have access to the vmsize that is being requested for the masters. In west us2 you can select your master size. I'm actually not familiar with how to request having a size be added to your subscription in the given region. @dmitsh  @weinong do either of you know how to make a request for access to new vm sizes?

[2017-11-07 21:31] luhkevin commented on #74
Hmm, here is the rest of the error message:
[code]

To clarify, I have to explicitly add the 'Standard_D2_v2' vm size to my westus2 region?

[2017-11-08 13:39] bremnes commented on #82
The feedbacks are coming quickly, so not a problem at all @JackQuincy .

To throw another wrench into this scenario: through the portal I attempted to show this bug-in-progress to my colleague, but lo and behold - it didn't immediately threw an exception. Instead it went on its merry way to actually scale out the cluster.

**The good:** at first glance the scale out apparently seemed to be working

[2017-11-08 20:01] JackQuincy commented on #82
If you are doing this with the az cli it creates and caches a service principal that is reused with future clusters. Kubernetes uses this to modify some of the networking resources. That is probably why the old cluster name is there. I'd expect the master to retry that route configuring every couple minuets. The route not being there could definitely cause the behavior you are seeing. If it isn't

[2017-11-09 16:05] bremnes commented on #82
It didn't automatically fix itself overnight, so I tried the following:
1) Restart the master (linux) server. Waited an hour after doing so, still nothing besides the same error message on kubectl commands `Unable to connect to the server: dial tcp 51.141.XXX.YYY:443:  ...`
2) Scale one of the node pools from 2 to 3 nodes. The additional server came up, but still no connection. Waited a couple of

[2017-11-09 17:42] JackQuincy commented on #82
So I tried to look at that same call and I'm seeing a success on route tables being written to. I'm guessing this is a red herring. we are seeing issues with etcd not recovering well from a restart that happened when azure rolled out updates on the host. We can be sure if you will look at the routetable in the resource group. Does it have a route for the master node?

[2017-11-09 18:44] JackQuincy commented on #82
We should have a new git hub issue on this soon but can you try running this on your master and see if it fixes it?

 sudo /bin/sed -i s/Restart=on-abnormal/Restart=always/g /lib/systemd/system/etcd.service
 systemctl daemon-reload

[2017-11-09 19:34] bremnes commented on #82
@JackQuincy Regarding your first question: the routetable doesn't contain any routes at all. This must have happened in the latest scaling attempt as they were present in [yesterdays comment](https://github.com/Azure/ACS/issues/82#issuecomment-342819930).

For the commands you gave me: not sure what was supposed to happen, but it doesn't seem like it affected anything. Still gave the same error as

[2017-11-09 19:54] JackQuincy commented on #82
:( was hoping that would fix it. Can you run this on the master, "sudo journalctl -u kubelet " in there we should be able to get logs and see what is the failure. I'm not sure if it contains any info you will want to scrap, you can either send my a private gist or email at jaquincy@microsoft.com

[2017-11-09 22:48] bremnes commented on #82
I'm not sure of the content, so I've sent it privately for now. If there are any clues in there @JackQuincy is free to share the relevant information here so that others might learn from our situation.

[2017-11-10 12:20] ComeMaes commented on #5
Is there a status update available for this issue?
Either on automated cluster upgrade procedures (if any) and manual upgrade procedures?

It seems there is [this example (k8s upgrade)](https://github.com/Azure/acs-engine/blob/master/examples/k8s-upgrade) but documentation is light..

[2017-11-12 19:04] bremnes commented on #82
I've been in touch with Jack via email. Based on the error above regarding `--max-pods` he pointed me in the direction of the file /etc/default/kubernetes on the master node:
[code]

As Jack, and the error, pointed out that KUBELET_MAX_PODS should have a value. After being advised
setting it to 110 and restarting the server, we now get another error:

Nov 09 23:50:09 k8s-master-12345678-0 docker[1

[2017-11-13 06:43] eynet opened #84 "Cannot create Kubernetes cluster in a differnet vnet/subnet"
Unable to create azure container services (Kubernetes) on a specific VNET using flags '--master-vnet-subnet-id' & ' --agent-vnet-subnet-id' , Look like it's creating it's on VNET other than using the specified ones.

Trying to spinup new cluster through Azure-CLI uisng following command :
----------
$ az acs create --orchestrator-type kubernetes --resource-group GROUP1--name NAME1 --master-vnet-su

[2017-11-13 18:33] JackQuincy commented on #82
@bremnes we had at least one bug around us affect us a lot last week. It seems like there is another bug, possibly ours. I got logs from one of your machines pulled and the behavior is a little strange and was wanting to get you to decrypt a settings file for me to help figure out where this bug lies.
[code]
That should output something like this
[code]
I'm guessing your SERVICE_PRINCIPAL_CLIENT_I

[2017-11-13 19:03] JackQuincy commented on #84
You are missing some of the required parameters for custom vnet. You also need to specify the agent vnet subnet, --agent-vnet-subnet-id, and what address to put the first master ip at, --master-first-consecutive-static-ip.

[2017-11-13 19:47] bremnes commented on #82
To be absolutely sure, do you want me to run the `commandToExecute` as sudo?
I had to install xml-twig-tools to be able to generate the `commandToExecute`. I see that it contains guids and resource names for some of the ACS resources, in addition to a couple of base64 encoded private keys. Just want to be certain that the `commandToExecute` wasn't supposed to contain those variables (because it do

[2017-11-13 20:04] JackQuincy commented on #82
the sudo -s is because you can't navigate or read /var/lib/waagent/ without it.

The commandToExecute should of had all of those variables and if it doesn't but still ended "/usr/bin/nohup /bin/bash -c \"/bin/bash /opt/azure/containers/provision.sh >> /var/log/azure/cluster-provision.log 2>&1" then that will certainly be the issue. I'm going to go try to chase down how/why our extension lost some

[2017-11-13 20:13] bremnes commented on #82
Thanks for the quick reply @JackQuincy. I've added the output, except the private keys, to the gist that I've shared with you. Let me know if there is anything else I should check.

[2017-11-13 21:42] JackQuincy opened #85 "scaling old clusters can break kubernetes master in new rp regions -- fixed in service, script to fix broken clusters in issue"
**Is this a request for help?**:
---
NO
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REOPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kuberentes

**What happened**:
on scaling cluster stops working

**What you expected to happen**:
cluster to continue working

**How to reproduce it** (as minimally and precisely as possible):
Have an old cluster. Scale it up.

[2017-11-13 21:54] JackQuincy commented on #82
Talking with @bremnes I was able to figure out what happened. ACS changed how we call the provision script in our CSE to prevent a class of issues/bugs we've had for a while. We changed from passing arguments based on position so if one was missing it got all indexes off by one, to setting variables by name. This was good and works. The problem is we weren't removing the command to run it on maste

[2017-11-13 21:57] JackQuincy commented on #85
To fix a broken cluster please run these bash commands on each of the master nodes
[code]

[2017-11-13 23:54] JackQuincy commented on #85
link to acs-engine change that started this for the curious. https://github.com/Azure/acs-engine/pull/1570

[2017-11-14 11:21] eynet commented on #84
Have tried it , But no luck. Will [Azure VNET plugins ](https://github.com/Azure/azure-container-networking/blob/master/docs/acs.md) helps?

[2017-11-14 12:42] bramvdklinkenberg opened #86 "Kubernetes dashboard not showing with kubectl proxy or az acs kubernetes browse"
**Is this a request for help?**:
Yes

**Orchestrator and version**:
Kubernetes v1.7.7

**What happened**:
I installed a acs k8s cluster. When I try to proxy the dashboard locally (with kubectl or az acs kubernetes browse) it opens th browser with http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy, but it only shows a blank screen.

**What you expected to happen

[2017-11-14 13:12] jmalobicky commented on #86
@bramvdklinkenberg, I noticed the same issue with ACS 1.7.7. I thought it was browser cache but clearing had no impact. I was able to find this URL to work - http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/

[2017-11-14 17:48] JackQuincy commented on #84
That could help but it wouldn't fix this. So it is still provisioning a new vnet and putting the machines in it? What region are you trying to deploy into? Vnet is only supported in our preview regions.  https://github.com/Azure/ACS/blob/master/announcements/2017-08-04_additional_regions.md

[2017-11-14 18:04] bremnes commented on #82
@JackQuincy Our ExtensionsConfig.1.xml file didn't contain the necessary <Plugin> element, so unfortunately that script didn't work for us. (See gist for what the file actually contained.)

[2017-11-14 18:41] JackQuincy commented on #82
Interesting my bad I did the script on ExtensionsConfig.2.xml and had assumed 1 was just an older version and I wanted the oldest. I'll inline update the script to use 2.

[2017-11-14 19:20] bremnes commented on #82
When running the command with ExtensionsConfig.2.xml, the output was:
/usr/bin/nohup: appending output to 'nohup.out'

I'm not sure what was supposed to happen. /usr/bin/nohup contains what seems to be gibberish and nohup.out (in the /var/lib/waagent folder) is empty.

[2017-11-14 19:52] JackQuincy commented on #82
Sounds like it ran this time. That master should be working again. If you run kubectl get no, it should now return.

[2017-11-15 03:34] eynet commented on #84
Yes, It's provisioning new **vnet** , not using the original vnet/subnet given.

I forget to mention it , ACS is hosted in **westcentralus** which is one of the supported regions.

[2017-11-15 23:25] zimmertr commented on #80
https://www.reddit.com/r/AZURE/comments/7d7diz/ama_aks_managed_kubernetes_on_azure

[2017-11-16 09:37] bremnes commented on #82
After running the last command with ExtensionsConfig.2.xml the cluster started being accessible again: we could reach the publicly exposed services in addition to do kubectl commands.

Even though the cluster seemed healthy, I wanted to get this confirmed by doing a new scale operation - from 1 to 3 nodes in the windows node pool . Through the Azure portal the container service reported back that

[2017-11-16 18:19] JackQuincy commented on #82
So the fix for scaling is finished rolling out globally yesterday. So it is possible that when you scaled up the bad bits were still on the datacenter you where in. I'd rerun the script and try to scale again. Everything should be fixed now.

[2017-11-16 18:20] JackQuincy commented on #85
This is now rolled out to the service globally I'm leaving this open for a bit so that people who scaled their clusters while the bug was out can find the script to fix them.

[2017-11-17 14:23] jmalobicky opened #87 "What is SandboxChanged and why does it happen randomly"
**Is this a request for help?**:
yes

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.7.7 deployed via ACS

**What happened**:
All pods are restarted (within kube-system and all other namespaces) and reason is **SandboxChanged** with a message of **Pod sandbox changed, it will be killed and re-created.** with a source component of **kubelet**

This would not be an issue,

[2017-11-19 12:45] bremnes commented on #82
Yeah, I assumed that was the solution, just wanted to get it confirmed before doing any more manual operations on the cluster.

Running the command quickly flipped the status of the master agent to `Ready` like all the other nodes.

Once again I tried to scale through the Portal and got another error. But it still went ahead and scaled the cluster.

The cluster works and everything seems okay. But

[2017-11-19 20:06] bremnes opened #88 "Documentation, operating system edition for windows nodes. Changes?"
**Is this a request for help?**: Yes, documentation

---

**Context** Created a new Kubernetes cluster/environment. The same docker images that works in our current/old environment doesn't work in the new and gives us the following error:

The images have been built towards the aspnetcore:2.0 for windows.

When we created our cluster ~45 days ago we got regular Windows 2016 datacenter edition virt

[2017-11-20 17:54] bremnes opened #89 "ACS Kubernetes, failing creation and uncertainty whether cluster is successfully created"
**Is this a request for help?**:
possible bug, otherwise user experience flaw

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes with Windows node pool, default version

**What happened**:
Attempted twice to create ACS Kubernetes through the portal with a windows node pool.

First attempt in UK West lead t

[2017-11-20 21:59] JackQuincy commented on #88
@JiangtianLi can you speak to this?

[2017-11-20 22:15] bremnes commented on #88
I did some more testing today and found that the 1709-images were working, but images without it crashed with the exception shown above. So even images like microsoft/aci-helloworld:windows isn't working anymore.

I would like there to be a possibility of choosing node pool(s) os/edition. As it is now we aren't really getting stable infrastructure if suddenly the configuration vary wildly from env

[2017-11-20 22:48] JackQuincy commented on #82
@bremnes the activity thing isn't related. I see you opened an issue for it. The deployment error you are seeing about api version is more concerning. I found the error it is in configuration and should be fixed today.

[2017-11-20 22:48] #82 closed

[2017-11-20 22:49] JackQuincy commented on #82
@amanohar here is how I found the manifest issue

[2017-11-21 09:21] bremnes commented on #88
Attempting to change the base image to `microsoft/aspnetcore:2.0-nanoserver-1709` didn't work out as we now get an error complaining about access being denied to a file (see below).

To narrow it down, I created a fresh standalone VM from the market place based on the "Windows Server, version 1709 with Containers" template for comparison. I remoted in to them both to run pure docker commands seein

[2017-11-21 13:00] vikaskulwal opened #90 "ACS with custom VNet: Kubernetes Dashboard and Node Port Service Type is not working as expected"
**Is this a request for help?**:
No, We have the solution/workaround. We just want you to fix it.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
1) Unable to launch Kubernetes Dash board.
2) "Node Port" type of service is not working as expected. It is accessible using the IP of

[2017-11-21 13:11] vikaskulwal opened #91 "Feature Request: Option to skip Public IP Master nodes of ACS Kubernetes cluster"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
We have seen that even if we instantiate ACS within our custom VNet/Subnet, it always assigns a Public IP to master node's i.e its load balancer. And there no option to skip it and have only

[2017-11-21 16:35] JiangtianLi commented on #88
@bremnes You are right. ACS Engine has switched to RS3 Windows, which uses 1709 and Server Core. The documentation is not yet fully up-to-date and I am working on that. In general, the only change would be to use container image with 1709 tag, which requires the current workload to be built/upgraded/refactored to 1709 image.

As to microsoft/aspnetcore:2.0-nanoserver-1709, I can `docker run -it mi

[2017-11-21 16:50] bremnes commented on #88
@JiangtianLi From the cluster created through ARM template:

Same for another cluster which was created through the Portal. It's not possible to select version through the Portal wizard it seems like. Or?

Just to make sure we are on the same page, this is ACS and not ACS-engine. How about your 1.8.2 cluster? I'm not sure how the ACS and ACS-engine is synched on the k8s version or if they are "gat

[2017-11-21 17:20] JackQuincy commented on #90
Did you attach the created Route Table to all the subnets in the VNET like this asks? https://github.com/Azure/ACS/tree/master/docs/VNET
That is required for the node to node communication like NodePort services to work.

[2017-11-21 17:25] JiangtianLi commented on #88
@bremnes  I am using ACS-Engine so I can choose version. Portal uses default version. I will need to try ACS.

[2017-11-21 17:33] bremnes commented on #88
@JiangtianLi Just FYI, I opened another issue involved in the creation of the ACS cluster - #89. Not sure if that could've had some impact on the (mis)configuration of the agent nodes in this issue.

[2017-11-22 12:19] vikaskulwal commented on #90
Yes, I have attached it to all subnets. We are attaching the route tables manually and then everything runs smoothly after restarting all pods of 'kube-system' namespace.
I believe its an issue and it should be done automatically during ACS instantiation itself. Please correct me if I am wrong.

[2017-11-22 17:31] JackQuincy commented on #90
Well our public documentation for Bring Your Own Vnet says you have to hook up the route table yourself. We could try to do the attaching our selves. I'm guessing it is a concern about what about if the subnets already have a route table associated with them. @sauryadas @anhowe Do you know why we don't attach the route table to the subnets ourselves? Needing to restart the pods is concerning to me

[2017-11-23 14:55] Maxyme opened #92 "Connection refused with docker when tunneling into Azure Container Service master VM."
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Swarm

**What happened**:
Creation of a Azure Container Service with docker swarm mode.
After SSH tunneling in the master and running _docker ps_:
[code]
It turns out that the docker containers are stopped on the master:

[code]

T

[2017-11-23 17:49] JackQuincy commented on #92
By default the user defined account doesn't have access to the docker socket. It takes root level permissions or similar. So use sudo docker...

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Maxime Jacques <notifications@github.com>
Sent: Thursday, November 23, 2017 6:55:13 AM
To: Azure/ACS
Cc: Subscribed
Subject: [Azure/ACS] Connection refused with docker when

[2017-11-24 00:04] JackQuincy commented on #92
Opps seems I didn't read everything here.ignore my last comment

[2017-11-28 19:52] JiangtianLi commented on #88
@bremnes I created a Windows k8s cluster from Azure portal in UKWest. I deployed a workload with yaml from https://raw.githubusercontent.com/JiangtianLi/Examples/master/windows/basic/simpleweb.yaml and container was successfully created. Then I used microsoft/aspnetcore:2.0-nanoserver-1709 image and had the same error as yours. I also tried
`docker run -it microsoft/aspnetcore:2.0-nanoserver-1709

[2017-11-28 19:54] JiangtianLi commented on #88
@PatrickLang Is this a known issue?

[2017-11-28 20:43] PatrickLang commented on #88
@JiangtianLi  Can you help clarify? I'm confused because you said it was working in https://github.com/Azure/ACS/issues/88#issuecomment-346084185

Did you change something and now you're getting this error (copied from @bremnes )

Doesn't work:
`docker run microsoft/aspnetcore:2.0-nanoserver-1709`

[code]

[2017-11-28 21:05] JiangtianLi commented on #88
@PatrickLang Yes, `docker run microsoft/aspnetcore:2.0-nanoserver-1709` worked in the windows node created by ACS-Engine before. But in the new ACS windows node I just created, it didn't work and has the same error as @bremnes. The difference I can think of:
1. With ACS-Engine I used D2_V3 while with ACS I used D2_V2.
2. With ACS-Engine I used k8s version 1.8.2 while with ACS it used default 1.7.9

[2017-11-28 21:32] JiangtianLi commented on #88
@PatrickLang I created another ACS cluster because I deleted the cluster 2 hours ago. However, `docker run -it microsoft/aspnetcore:2.0-nanoserver-1709 cmd` succeeded this time. Seems the issue is random. I'll keep the current cluster and create another one to see if it repro.

[2017-11-28 21:49] JiangtianLi commented on #88
@PatrickLang I created another ACS cluster, the same VM, the same VM, but I couldn't repro the issue.  The image appears to be recently updated:
`microsoft/aspnetcore          2.0-nanoserver-1709   8a080e5ebae7        16 hours ago`

@bremnes Can you repro the issue now?

[2017-11-29 12:09] bremnes commented on #88
@JiangtianLi I just tried a new cluster in UK West and was able to reproduce it: ACS Kubernetes cluster with 1 master and 1 windows agent (DS2_V2_Standard).

[2017-11-30 04:57] ermontgo commented on #86
This would be fantastic to get fixed and would help my team a lot

[2017-11-30 13:32] odauby commented on #88
Just created (with acs-engine v0.9.4) a kubernetes 1.8.2 cluster in westeurope.
Turns out that our **microsoft/windowsservercore** based containers that used to work on a Kubernetes 1.6 now fail to deploy on the new Kubernetes 1.8.2 Windows nodes with the same error message as above:

While checking, I found out that Kubernetes has an issue finding out what Docker version is used on the  Windows n

[2017-11-30 16:55] JiangtianLi commented on #88
@odauby with acs-engine v0.9.4, the Windows node uses RS3 and is compatible with microsoft/windowsservercore:1709 container image (https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility).

[2017-12-01 16:59] 0x7f opened #93 "Unable to assign public IP from different resource group to load balancer"
**Is this a request for help?**:
request
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.7.9

**What happened**:
I reserved a static public ip in one resource group `rg1`, let's say `1.2.3.4` and wanted to use assign this to the load balancer of my k8s cluster which is running inside another reso

[2017-12-04 13:55] bremnes commented on #88
@JiangtianLi @PatrickLang, have you guys had any progress in regards to the nanoserver-1709 error? If it's random I can try again until I hit fortune, but the 7-8 clusters I've tried so far haven't worked.

[2017-12-04 15:57] JiangtianLi commented on #88
@bremnes From my side, the error does not consistently repro so I will need to get a failed cluster. Does this repro with other nanoserver images? Is it possible for your to share out the cluster or collect trace for us?
@PatrickLang Do you know what HCS trace or else should be collected?

[2017-12-04 20:56] PatrickLang opened #94 "DNS shortname resolution fails in Windows Server version 1709 pods"
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Master: Kubernetes v1.7.9

Nodes
Kernel Version:                10.0 16299 (16299.15.amd64fre.rs3_release.170928-1534)
 OS Image:
 Operating System:              windows
 Architecture:                  amd64
 Container Runtime Version:     docker://Unknown
 Kubelet Version:               v1.7.9-29+3911e53660eccc
 Kube-Proxy Version:

[2017-12-05 08:25] exztinct01 opened #95 "KUBECTL GET NODES returns You Must Be Logged In To The Server (...)"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I need to connect to an Azure Kubernetes Cluster from my WinServer2016 machine to be able to use `kubectl create` command and deploy our application. I'm using azure cli 2.0.21 in the remote machine. The ma

[2017-12-05 15:55] bremnes commented on #88
@JiangtianLi I tested now by creating 6 clusters and they all fail on pulling the nanonserver image with the diagtrack.dll error. See [this gist](https://gist.github.com/bremnes/d988e6d41ce67271253ea4d45f15f194) for the script I used.

We created a support ticket through Azure where your colleague confirmed that he was able to reproduce it as well (#117112717221074). It might be easier to go throu

[2017-12-06 11:03] wiziah commented on #92
Thanks @Maxyme . I just had the same problem and I was trying to figure out why I couldn't connect from my local bash. Follow your steps and I can connect... however, to do this all the time as part of the bootstrapping process isn't good. It also seems that the swarm cluster hasn't been created.. `Error response from daemon: No elected primary cluster manager`

[2017-12-07 01:57] JiangtianLi commented on #88
@bremnes As discussed in another thread, this issue appears to be a race condition when pulling two nanoserver images at the same time. I have looped in the container folks for further solution.

[2017-12-07 16:08] madsd opened #96 "ACS / Storage Encryption"
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes; latest

**What happened**:
I cannot provision ACS in a Resource Group or Subscription, where a policy "Require blob encryption for storage accounts" is set.

**What you expected to happen**:
Be able to provision ACS with encrypted storage.

**How to reproduce it** (as minimally and precisely as possible):
a) Create Resource g

[2017-12-09 18:26] cowlike commented on #92
Same here, thanks @Maxyme . I was bitten by this as a brand new user of ACS and had no idea what was going on. Starting docker on the master did the trick. It's not a good first impression.

[2017-12-15 13:03] ankitpopli1891 opened #97 "ACS - Unable to change VM count"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
**Kubernetes**

    Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.7", GitCommit:"8e1552342355496b62754e61ad5f802a0f3f1fa7", GitTreeState:"clean", BuildDate:"2017-09-28T23:56:03Z", GoVersion:"go1.8.3", Compiler:"

[2017-12-20 04:06] doggy8088 opened #98 "Unable to install jenkins chart using Helm on Kubernetes (ACS)"
**Is this a request for help?**:

YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I was unable to install jenkins chart using helm.

`helm install --name trapac stable/jenkins --set Persistence.Size=1Gi`

Here is the full describe log of the problem pod:

[code]

**What y

[2017-12-21 00:17] ams0 commented on #98
Are you using RBAC? K8s version?

[2017-12-25 12:50] nareshjiva opened #99 "when i create a web app for container with docker container am unable to connect to SSH"
Hello
I am creating a PHP application(7.1) using docker container, after configuring the docker container i am unable to connect to the SSH getting the bellow error

**SSH CONNECTION CLOSE - Error: getaddrinfo ENOTFOUND Couldnt connect to main site container Couldnt connect to main site container:2222Error: getaddrinfo ENOTFOUND Couldnt connect to main site container Couldnt connect to main site c

[2018-01-04 18:45] teeterc commented on #12
I'm experiencing a similar error, i think:

* this happened after the last Azure Scheduled Update and i'm using the managed aks service.

AttachVolume.Attach failed for volume "pvc-0db10311-f17c-11e7-9eaa-0a58ac1f0210" : Attach volume "kubernetes-dynamic-pvc-0db10311-f17c-11e7-9eaa-0a58ac1f0210" to instance "aks-nodepool1-24119515-1" failed with compute.VirtualMachinesClient#CreateOrUpdate: Failur

[2018-01-05 11:27] theobolo commented on #12
@teeterc It's exactly the same for me since yesterday....

https://github.com/Azure/acs-engine/issues/2002

Only diffirence is that my disks are up on Azure portal and marked as "Unattached" but still, it can't be mounted on the worker.

[2018-01-05 12:22] andyzhangx commented on #12
@teeterc could you run `kubectl getpvc` and `kubectl describe pvc PVC-NAME` to get the status of PVC first?

[2018-01-05 12:31] andyzhangx commented on #12
@teeterc for your case, restart controller-manager in master may resolve your issue

[2018-01-05 14:33] ajhewett commented on #12
@teeterc I'm also seeing the exact same errors with PVC/PV and Statefulsets on multiple Kubernetes clusters since the maintenance reboots.  My clusters were created using acs-engine with Kubernetes v1.7.5.

The suggestion from @andyzhangx  to restart the controller-manager has not helped.  Nor has redeploying the k8s-master VMs or the affected k8s-agent VMs.

[2018-01-05 14:45] rcconsult commented on #12
Hi,
I have tested two options:

1. List the PVCs and PVs stuck after the reboots and re-create them, which means loosing existing data, because you may also need to destroy VHDs in storage account as well.
2. In Azure portal stop your affected VM, edit disks and remove all stuck PVCs mounts, start VM and delete/refresh affected pods stuck in ContainerCrating stage, your data should stay preserved

[2018-01-05 14:48] theobolo commented on #12
@ajhewett @teeterc You can follow the debugging on the other issue https://github.com/Azure/acs-engine/issues/2002 and compare to your own errors.

But it seems that something went wrong yesterday.

@rcconsult It's a way if your disks are already mounted, mine are brand new so basically i can't create mount new disks on workers even if they weren't mounted anywhere previously.

There is definitely

[2018-01-05 14:54] ajhewett commented on #12
@rcconsult I have performed the same as your option 1 which has worked in some clusters (fortunately, the data in my volumes is replicated).  However, I have a cluster where the problem is very persistent and k8s keeps trying to attach a deleted volume.

[2018-01-05 14:57] andyzhangx commented on #12
@ajhewett could you check the VM status of `k8s-agent-82840771-0` and other VMs in azure portal, is it in failed status?

[2018-01-05 15:16] ajhewett commented on #12
@andyzhangx the k8s agents and master are not now in a failed state.  Some were in a failed state right after the maintenance reboots but I performed a "Redeploy" from the portal on the failed VMs several hours ago.  The errors attaching volumes have been occuring before and after my redeploy.

[2018-01-05 15:57] andyzhangx commented on #12
@ajhewett could you check the disk `stage-eu-west-es5-kube-dynamic-pvc-928b8f62-ba15-11e7-b2a4-000d3a2aee28` status, is it attached to a VM? You may detach that disk manually and wait to check.
Also you could get more debugging info from https://github.com/Azure/acs-engine/issues/2002

[2018-01-05 16:33] ajhewett commented on #12
@andyzhangx the disk `stage-eu-west-es5-kube-dynamic-pvc-928b8f62-ba15-11e7-b2a4-000d3a2aee28` does not exist.  I had deleted it (+ PVC & PV) after redeploying the k8s-agent VM did not help.  Similar to option 1 from @rcconsult which fixed a problems in other clusters after the maintenance.
Disk `stage-eu-west-es5-kube-dynamic-pvc-f9ae8b26-f21a-11e7-8424-000d3a2aee28` does exist and is not attache

[2018-01-05 17:47] ajhewett commented on #12
@andyzhangx the VM status is:
[code]

[2018-01-05 19:57] rocketraman commented on #12
Same here... a 1.7.5 cluster with all of the stateful sets borked after the security updates. 3 of 6 VMs are stuck in "Failed" state (though active nodes in k8s), and the other 3 are stuck in "VM Stopping" state. Attempting the instructions @ https://blogs.technet.microsoft.com/mckittrick/azure-vm-stuck-in-failed-state-arm/ for the Failed VMs just results in a 409 conflict error saying that the di

[2018-01-05 21:09] IainColledge commented on #12
Have now got multiple clusters with multiple containers with problems due to nodes in failed states and disk attach errors, have got to say this really needs looking at to make it robust as is very fragile.

[2018-01-06 01:02] andyzhangx commented on #12
@ajhewett thanks for providing the info. Could you use https://blogs.technet.microsoft.com/mckittrick/azure-vm-stuck-in-failed-state-arm/ to update VM `k8s-agent-82840771-0` even if's in healthy status? And let me know the Powershell script result. This could be a VM level issue, thanks.

[2018-01-06 10:52] ajhewett commented on #12
@andyzhangx many, many thanks!

I executed
[code]
and without any futher manual intervention the pod that was stuck in ``ContainerCreating`` sucessfully mounted the correct volume (``"pvc-f9ae8b26-f21a-11e7-8424-000d3a2aee28"``) and is now ``Running``.

[2018-01-06 11:58] andyzhangx commented on #12
@ajhewett good to know. One thing to confirm, some of your VMs are in `Failed` state, and then you
1. use `Redeploy` in azure portal which could bring VM state to `Running`.
2. And then use https://blogs.technet.microsoft.com/mckittrick/azure-vm-stuck-in-failed-state-arm/ to update agent VM which has the issue.
These two steps are the workaround for this issue? right?

[2018-01-06 12:43] ajhewett commented on #12
@andyzhangx

Several VMs rebooted without any problems. Step 1 helped repair some failed VMs but not all. Step 2 was additionally needed for some VMs even though they seemed healthy.

However, I cannot be sure that only these 2 steps are sufficient because I tried several other things before step 2.  e.g. reducing the number of replicas in the statefulsets, deleting PVCs, deleting the stuck pods s

[2018-01-06 13:01] andyzhangx commented on #12
@ajhewett thanks for the info.
Another side quesiton: are all your statefulsets using azure disk, since azure disk only supports RWO which means if replica >=2 and the two pods are in two different agent nodes, they could not use same azure disk.

[2018-01-06 13:14] ajhewett commented on #12
@andyzhangx the statefulsets use dynamically provisioned volumes (PVCs) with managed azure disks (storageclass managed-premium or managed-standard).  Each pod gets its own disk, there is no disk sharing. The workload using statefulsets and PVCs is Elasticsearch.

[2018-01-07 04:14] rocketraman commented on #12
@andyzhangx I've tried your workaround @ https://github.com/Azure/ACS/issues/12#issuecomment-355742312 for my [situation](https://github.com/Azure/ACS/issues/12#issuecomment-355650419). However, it was not sufficient. The fundamental problem seems to be a disconnect between the Kubernetes view of the node (node fully up and in Running state) and the Azure view of the node VM (node in "VM Stopping"

[2018-01-07 21:53] teeterc commented on #12
I did find a workaround (sorry i didn't post earlier).  I noticed that the failing pods were being deployed the failed Azure nodes.   So, i:

1: Scaled the the kube cluster + sum(failed nodes)
2: Deleted the failed nodes in Azure Portal (this removed any disk mounting issues when the pods came up on other cluster nodes.)

Everything came back online in about 10m.  It seems that the Volumes that ar

[2018-01-16 09:27] mayankvaish7 commented on #74
You guys are having "Resource group" in the region where master size is exhausted/not available.

Solution create the new resource group altogether in --  brazilsouth,canadacentral,centralus,centraluseuap,eastus,eastus2,eastus2euap,japaneast,southcentralus,southeastasia,southindia,westeurope""

under the step 1 itself. which will solve the problem.

Problem is you can't have resource group belongi

[2018-01-16 15:21] markwaldkat commented on #65
Any news about this?
Is it also taken into account for AKS?

[2018-01-16 15:47] mfaizanse commented on #65
Yes, RBAC is working aks with k8s 1.8.1. Not sure about ACS.

[2018-01-16 15:47] #65 closed

[2018-01-16 23:35] sauryadas commented on #65
No plan to fix this in ACS

[2018-01-21 09:47] foram31k opened #102 "Kubernetes - Azure Load Balancer provisioning fails - ip is referenced by multiple ipconfig"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): ISSUE

My service.yaml  file is
[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Orchestration tool: Kubernetes deployed on Azure
Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean",

[2018-01-21 09:52] foram31k commented on #97
@ankitpopli1891  Is your Load Balancer IP / master VM's IP static ?

[2018-01-21 16:14] ankitpopli1891 commented on #97
@foram31k Yes.

Did try to make it dynamic, wasn't successful. Can't remember the issues faced, tried it more than a month earlier. Finally, decided to raise an issue.

[2018-01-21 16:35] foram31k commented on #97
@ankitpopli1891
I had faced the same issue, by following these steps my issue was resolved.

STEPS TO MITIGATE THE ISSUE

1) Login to Portal.
2) Navigate to Load Balancer k8s-master-lb
3) Create a new Public IP address (Dynamic) and associate with the Load Balancer.
4) Save the Settings.
5) Once the settings are saved, verify that the Load Balancer is associated with newly created Public IP addres

[2018-01-21 20:51] mrichman opened #103 "Q: Hung Windows worker node"
So my Windows node is hung after a scale up seems to have made the kubelet unresponsive. Azure portal shows CPU~90%. I created an SSH tunnel for RDP to my worker node using `ssh mrichman@mrichman-k8smgmt.eastus.cloudapp.azure.com -A -p 22 -L 3389:10.240.0.5:3389` and I can now RDP to the box. The worker node's screen is hung on “Preparing Windows” so I don’t know if I’ll ever be able to get to an

[2018-01-22 06:35] feiskyer commented on #102
The PublicIP in `loadBalancerIP: x.x.x.x` has been used in other places. Could you change it to another one or just remove it from serviceSpec?

[2018-01-22 16:43] gmartinoreply commented on #84
Hi,
Could you update supported regions?
I have the same problem as eynet, anyone has resolved?

Thx

[2018-01-22 17:31] semion-a opened #104 "Missing --proxy-client-cert-file, --proxy-client-key-file, --requestheader-client-ca-file in kube-apiserver manifest"
**Is this a request for help?**: Yes.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes v1.8

**What happened**:
After configuring the GenericAdmissionWebhook using guide in https://kubernetes.io/docs/admin/extensible-admission-controllers/#external-admission-webhooks the kube-apiserver is not up aft

[2018-01-22 18:19] ankitpopli1891 commented on #97
@foram31k Thanks for the solution. It did help me move forward, now I get a different error.

[code]

I'll try a few different things, & reach back if it doesn't work.

[2018-01-23 05:43] alexxie opened #105 "ACS Kubernetes failing to pull windows container image"
**Is this a request for help?**:

yes

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Failing to pull windows container image.

- Kubernetes dashboard show the following errors
   -- Error syncing pod
  -- Failed to pull image "winpoc.azurecr.io/rolemanager:v1": rpc error: code = 2 desc = failed to register layer: re-exec error: exit status 1: output: t

[2018-01-23 09:03] foram31k commented on #102
@feiskyer  yes, your solution worked.
But I want to use same LB IP to deploy different services running on different ports.
Can't we do that ?

[2018-01-23 09:18] feiskyer commented on #102
@foram31k I think you could use an ingress for this. See https://github.com/kubernetes/ingress-nginx/blob/master/deploy/README.md for usage.

[2018-01-23 11:05] foram31k commented on #102
Thank you for the suggestion.
Will surely look into it.

[2018-01-23 11:05] #102 closed, assigned to nobody

[2018-01-23 13:50] ankitpopli1891 commented on #97
The weird thing is I'm being billed for 2 agents and the count is still 1.
![image](https://user-images.githubusercontent.com/1699793/35279096-09ced9d8-0072-11e8-9092-01cec91eddac.png)

& actually there are 2 agents running.
![image](https://user-images.githubusercontent.com/1699793/35279134-293fbf30-0072-11e8-9ad5-d5ec5d886e74.png)

[2018-01-23 15:26] andyzhangx commented on #105
@PatrickLang

[2018-01-23 19:09] darstahl commented on #105
Looks like it might be https://github.com/moby/moby/issues/32838, for which a fix was submitted to the docker daemon in https://github.com/moby/moby/pull/35924. The issue was the some weird unicode chars were left in the layer, which was causing Golang to fail to open the file. In the linked case, it was files left in the recycle bin.

[2018-01-23 22:41] alexxie commented on #105
Thanks, please keep me informed of any progress.

[2018-01-25 17:54] bhood4 commented on #84
Hi,
I think I have the same problem.  I am using terraform with https://github.com/bhood4/terraform-provider-azurerm fork .  I have added vnet_subnet_id on master_profile and agent_profile, and now added master_profile.first_consecutive_static_ip.  I get this error back from the go sdk call:

{"code":"DeploymentFailed",
"message":"At least one resource deployment operation failed. Please list depl

[2018-01-27 03:13] kingdonb commented on #65
Excellent.  I was just searching for how to disable it

[2018-01-30 17:23] sjdweb opened #106 "Command `az acs kubernetes get-credentials` fails with error "The api-version '2017-07-01' is invalid.""
**Is this a request for help?**:
YES
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Running `az acs kubernetes get-credentials --resource-group=$GROUP_NAME --name=$CLUSTER_NAME --ssh-key-file=./key` causes this error:

[code]

**What you expected to happen**:
For it to set the c

[2018-01-31 16:34] rtcn2 commented on #84
Doesn't work for me , I run:
 '```
az acs create --orchestrator-type kubernetes
 -g rn-jupyterhub-dev-rg-ne
 --master-vnet-subnet-id "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/dev-vnet-rg-ne/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/k8s-master-dev-subnet"
 --agent-vnet-subnet-id "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/dev-vnet

[2018-02-01 23:55] JackQuincy commented on #106
This is more of a cli bug and you might get more traction posting the issue there. @mboersma can you take a look?

[2018-02-07 11:32] lmiroslaw opened #107 "Problem with GPU support on DCOS"
**Is this a request for help?**:
YES
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** DCOS
Deployed with az acs create --orchestrator-type dcos --resource-group oss-dcos-cluster --name myDCOSCluster --generate-ssh-keys --agent-vm-size Standard_NC6 --agent-count 2

**What happened**:
cannot install docker.io tha

[2018-02-08 11:51] andyzhangx commented on #24
@bialad are you using "azure file" storage class? In current version, a storage account must be created in same resource group.

[2018-02-11 05:14] davidobrien1985 commented on #86
Just got the same error with a brand new ACS cluster.

Browsing to http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/ worked for me as well.

[2018-02-13 13:56] jmeijrink commented on #86
I have the same issue, all static content seems to be missing.
![image](https://user-images.githubusercontent.com/788844/36153276-0ce426fc-10ce-11e8-9804-ef21b52290f2.png)

[2018-02-13 18:35] jmeijrink commented on #86
I fixed the issue on my machine, due to following post:
https://github.com/kubernetes/dashboard/wiki/FAQ#i-am-seeing-404-errors-when-trying-to-access-dashbord-dashboard-resources-can-not-be-loaded

mentioned in https://github.com/kubernetes/dashboard/issues/2368

Summary: add a trailing /

[2018-02-14 11:07] diwakar-s-maurya commented on #49
@samlyhuang Did you find solution to your problem? I am also facing the same problem.

[2018-02-15 13:12] Diros1234 commented on #84
We need to create a Kubernetes cluster linked to a vnet where other services are running and we see that the CLI offers the options `master-vnet-subnet-id' & `agent-vnet-subnet-id`. However, those fields are ignores.
- When setting an existing vnet, this is just ignored a new vnet is created with network 10.0.0.0/8
- When setting a non-existing vnet, no error is shown, and again, a new vnet 10.0.0

[2018-02-16 11:28] ramiz99-zz commented on #102
I have the same issue - the first time it worked ok (the ip had not been assigned to anything yet, and so on deployment it was auto assigned to the L). However when i closed everything down and started it up again, it would say that the IPs are already assigned (same error message). Other than creating new IP address, is there a way to reuse what i already have.

[2018-02-21 16:43] SteveCurran opened #108 "kubectl exec fails connecting to windows container"
I am using ACS in Azure with the following command,

az acs create --orchestrator-type=kubernetes --resource-group testkubescale --name=testscale --agent-count=1 --generate-ssh-keys --windows --admin-username testing --admin-password password!

I deploy the container and container runs

I try kubectl exec -it podname powershell
Receive the following error.
"Error from server: error dialing backend

[2018-02-21 19:58] #108 closed, assigned to nobody

[2018-02-22 08:43] bramvdklinkenberg commented on #86
If you use the az cli to proxy the dashboard it works fine (plus opens a browser automatically)

[2018-02-23 03:20] krishna-dahifale opened #109 "How upgrade Kubernetes version to 1.8.x in ACS"
Hi,
**Orchestrator and version** : Kubernetes 1.7.7
**What you expected to happen**: Want upgrade kubernetes version from 1.7.7 to 1.8 & greater
In AKS , We have az aks upgrade --kubernetes-version --name   --resource-group  [--no-wait]  [--yes] to do upgradation,which not  in case of ACS.
Please suggest way to do so.....

[2018-02-25 04:12] andyzhangx commented on #12
Update this thread:
Recently I fixed a race condition issue which could cause attach disk error, the fix has been merged into v1.10, I am trying to cherry-pick this fix to other k8s version, you could find details about this issue here:
https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#1-disk-attach-error

### 1. disk attach error
**Issue details**:

In some corner case(det

[2018-02-26 15:18] markwaldkat opened #110 "Very different Kubernetes clusters in different locations"
**Is this a request for help?**:

Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.7.7
$ az --version
azure-cli (2.0.25)

**What happened**:

I deployed two Kubernetes ACS clusters into two different locations and the clusters seem quite different.
We can install our software in one location

[2018-02-27 09:59] digeler commented on #110
best way is to look at the template deployment ,you will have all the details there.

[2018-02-28 11:40] chgeuer commented on #110
@markwaldkat: I figured it out: When you look at the [ACS team announcements](https://github.com/Azure/ACS/tree/master/announcements), specifically [2017-06-28-acs-uk-public-preview](https://github.com/Azure/ACS/blob/master/announcements/2017-06-28-acs-uk-public-preview.md) and [2017-08-04_additional_regions](https://github.com/Azure/ACS/blob/master/announcements/2017-08-04_additional_regions.md),

[2018-03-01 10:15] markwaldkat commented on #110
Thanks!

AFAIU there are ACS RPv1 and ACS RPv2 regions and this matches with my experience when I deployed to westeu, centralindia and uksouth.

Would be also interesting to know what the connection to the acs-engine releases is, see https://github.com/Azure/acs-engine/releases.

Maybe I'm wrong, but aren't the ACS clusters eventually created using the acs-engine scripts?
If yes, which acs-engine

[2018-03-03 09:02] rocketraman commented on #12
@andyzhangx  I also note that most of my nodes, even though there are no visible issues with stateful sets right now, are getting errors like this every second or so in my logs:

[code]

Investigating that pod:

[code]

[code]

Note, that pod is not running on this machine any more. So it seems like somewhere along the way these volume directories did not get cleaned up properly.

[2018-03-03 13:14] andyzhangx commented on #12
@rocketraman this could be related to pod deletion error due to race condition, if error only exists in kubelet logs, that would be ok according to my experience.

[2018-03-03 16:17] rocketraman commented on #12
So after your [fix](https://github.com/kubernetes/kubernetes/pull/60183) is deployed, this should not occur again right? The log messages themselves seem easy to "solve" -- it appears that removing the orphaned pod directory with `rm -fr /var/lib/kubelet/pods/0f2fbe5f-0004-11e8-8438-000d3af4357e` does work. I'm not quite sure if there are any negatives to this but everything in that directory is z

[2018-03-05 09:14] lostllama opened #111 "ETA for Japan availability of --orchestrator-version"
We've been forced into using ACS due to lack of availability of [AKS](https://github.com/Azure/AKS/issues/220) in the Japan region.

The problem is, Azure creates the cluster with Kubernetes 1.7.7 and we want to use 1.8.x or 1.9.x because our project uses deployments, which were in beta in 1.7.7. We were overjoyed to see --orchestrator-version in the list of parameters for az acs create, but soon

[2018-03-13 06:16] krishna-dahifale commented on #109
Any update??

[2018-03-15 14:59] hafizullah commented on #84
FYI this is only available in certain regions so if its not working that would be why.

[2018-03-15 21:29] PatrickLang commented on #88
Darren's still working on a fix, will be sending PR to moby/moby

[2018-03-20 18:30] tomkosse opened #112 "Cluster broken after upgrade to K8s 1.8.9"
**Is this a request for help?**:
Yes!

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

This is a bug report
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes (originally 1.7.x, but upgraded to 1.8.4 a while ago. Today i upgraded to 1.8.9)

**What happened**:
All my three masters stopped working. etcd is unable to start and form a cluster. etcd was still worki

[2018-03-20 21:40] tomkosse commented on #112
This should have been on the ACS-Engine repository. My apologies

[2018-03-21 11:13] smileisak opened #113 "PersistantVolumeClaims changing to Read-only file system suddenly."
**Is this a request for help?**:

---

**this a BUG REPORT **:

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
[code]

**What happened**:
I'm using Kubernetes cluster for my production. I have some issues with Persistance using
`PersistantVolumeClaims` by provisioning `PersistantVolumes` with default `StorageClass`.

I have all my databases (all pods using `persistantVolumes` ) that

[2018-03-21 13:03] lironmo commented on #34
same here:
  Warning  CreatingLoadBalancerFailed  3m (x36 over 2h)  service-controller
  Error creating load balancer (will retry): Failed to create load balancer for service kube-system/kibana-logging:
  network.PublicIPAddressesClient#CreateOrUpdate:
   Failure responding to request: StatusCode=400 -- Original Error:
    autorest/azure: Service returned an error. Status=400
    Code="InvalidReso

[2018-03-21 14:25] andyzhangx commented on #113
@smileisak Could you check how many azure disks are attached in your VM? Recently we found a host cache setting issue when there are more than 5 azure data disks, the disk may become unavailable, below are the details:
https://github.com/andyzhangx/demo/blob/master/issues/README.md#2-disk-unavailable-after-attachdetach-a-data-disk-on-a-node

[2018-03-21 17:08] willwhite1 commented on #84
When specifying vnet's I get the following error -

at line '1' and column '24298'. 'The template variable 'subnet' is not found

I looked in the generated ARM template from the ACS process and a variable subnet is referenced which doesn't exist. It looks like it should be feeding the master network CIDR into the CSE extension.

I am working in UKSOUTH which apparently should be supported. This lo

[2018-03-29 15:42] alexeyzimarev commented on #74
The issue is that the [Quick Start guide](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough) tell us to create a resource group in eastus, westeurope, centralus, canadacentral, canadaeast. This clearly includes westeurope. But if I create a resource group in westeurope, I cannot get the aks created with error message:

[2018-03-30 11:07] phatcher commented on #35
It was pulled from 1.9 but has been achieved via kms integration https://github.com/Azure/kubernetes-kms

[2018-04-02 21:56] JackQuincy commented on #109
Upgrade is only supported in AKS. We have no plans to add it to ACS.

[2018-04-02 21:56] #109 closed, assigned to nobody

[2018-04-04 09:17] mebrein commented on #74
This issue doesn't seem to be solved at all. Query `az vm list-sizes -l westeurope --output table` returns 'Standard_F2s_v2'. When I try to use it with az aks create, I get the error that the VM size of Agent is not allowed. Tried also other sizes like DS2_v2, etc,, same problem.

[2018-04-04 12:47] mayankvaish7 commented on #74
Your "Resourcegroup" has to be in " eastus, westeurope, centralus,
canadacentral, canadaeast". Because of discrepancy this error is coming.

Mayank Vaish
Ph : 801-706-3261(Cell)

On Wed, Apr 4, 2018 at 2:47 PM, Merijn van Mourik <notifications@github.com>
wrote:

[2018-04-04 18:58] ritazh commented on #35
Just to clarify, https://github.com/Azure/kubernetes-kms provides encryption of etcd secrets, not a store for k8s secrets.

[2018-04-05 12:07] alexvicegrab commented on #74
I have the same issue, displayed when trying to create an aks cluster

[2018-04-05 12:51] amerzouq commented on #74
i have the same probelm my ressource group is in westeurope

az aks create -g name -n name --node-count 5 --node-vm-size Standard_D2_v2

Operation failed with status: 'Bad Request'. Details: The VM size of Agent is not allowed in your subscription in location 'westeurope'. Agent VM size 'Standard_D2_v2' is available in locations: australiaeast,australiasoutheast,brazilsouth,canadacentral,canadaeas

[2018-04-05 14:16] samueljmello opened #114 "Commas in NSG rules break the ability to create services in ACS K8S clusters"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.7

**What happened**:
My organization needed to add some NSG rules to our cluster. We added several, each containing multiple ports (ex: 80,443) in comma-separated notation. After we did that, creating services resul

[2018-04-08 07:55] feiskyer commented on #114
Confirmed this is an issue caused by old Azure SDK vendors. It doesn't support `DestinationPortRanges`. Kubernetes v1.7.X has been deprecated (refer support timeframes [here](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#support-timeframes)) since v1.10 has been released. Could you upgrade the cluster to v1.9 or v1.10 to fix the issue?

[2018-04-10 19:37] samueljmello commented on #114
@feiskyer When we create a new cluster in ACS, it defaults to version 1.7.

ACS should be deploying the newer version of Kubernetes if that's the case. We regularly upgrade our ACS clusters and re-deploy our applications, so that's not a problem. Unfortunately ACS doesn't provide you the ability to select any version newer than 1.7.

[2018-04-15 12:37] jungho opened #115 "BadHostKeyException when attempting az acs kubernetes get-credentials"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.1
Canadacentral

az --version
azure-cli (2.0.31)
python -V
Python 2.7.14
python3 -V
Python 3.6.5

**What happened**:

Successfully created cluster, when trying to get the kubeconfig credentials, the parimiko lib

[2018-04-16 14:12] MStumpp commented on #99
same problem here. were you able to fix this?

[2018-04-18 07:36] jakkaj commented on #88
Hi all - is there any update for this? We're having this issue as of today.
jakkaj/aspnanottest is a public Docker hub image that can replicate this. Cluster created with only one Windows node (no Linux nodes).

acs-engine v0.15.2

 kubelet, 51742k8s9000  Failed to pull image "jakkaj/aspnanottest": rpc error: code = Unknown desc = failed to register layer: re-exec error: exit status 1: output: rem

[2018-04-18 14:10] jungho commented on #115
Note, this issue does not exist in Canada East region.  It does exist in Canada Central.

[2018-04-18 16:21] PatrickLang commented on #88
@jakkaj the access denied issue is tracked here: https://github.com/moby/moby/issues/36092 , fix in the works for Docker-EE within a few weeks

[2018-04-27 14:17] peskybp commented on #113
@andyzhangx Is there someway to actually prevent the cluster from scheduling more than 5 data disk mounts onto a specific VM?

In numerous cases I am seeing our clusters unfortunately schedule all the pods that need mounts onto the same machine, thus exceeding not only 5 mounts as you suggest but attempting to exceed the 8 data disk max that the specific VM itself can support.

[2018-04-27 14:49] peskybp commented on #113
@andyzhangx Also, I couldn't find anything in the docs you linked that referenced issues related to "5 data disks" or anything along those lines.

Were you referring to the caching mode issues in the section entitled "2. disk unavailable after attach/detach a data disk on a node" (where the workaround is to set cachingmode: None explicitily)?

[2018-04-27 17:59] DaveVoyles opened #116 "Standard NC_6 VM shows 0 GPUs"
I've spun up a Kubernetes cluster with this command:

[code]

When I describe the nodes, it returns:

[code]

**Perhaps I need to install the GPU driver?** I know that can be an issue with some of these. **Or should I just go with AKS?**

[2018-04-27 23:36] andyzhangx commented on #113
@peskybp correct, you should set cachingmode as None. details: https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#2-disk-unavailable-after-attachdetach-a-data-disk-on-a-node

About the maximum data disks support, there is a design proposal in k8s community already: [Add a design proposal for dynamic volume limits](https://github.com/kubernetes/community/pull/2051), should be

[2018-05-01 18:39] caseywatson commented on #108
Hi, Steve. How did you wind up resolving this?

[2018-05-02 16:06] Strandedpirate commented on #5
Is this the correct procedure for upgrading an k8s cluster created through the Azure portal?
 https://github.com/Azure/acs-engine/tree/master/examples/k8s-upgrade

[2018-05-02 16:09] Strandedpirate commented on #109
Is this the correct procedure for upgrading an k8s cluster created through the Azure portal?
https://github.com/Azure/acs-engine/tree/master/examples/k8s-upgrade

[2018-05-03 00:43] andyzhangx commented on #12
The original issue is fixed by https://github.com/kubernetes/kubernetes/pull/60183
you could find details here:
https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#1-disk-attach-error

Let me know if you have any question, thanks.

[2018-05-08 09:57] cloudmelon commented on #80
I attended a workshop in MS, they explained that Kubernetes is winning among all other orchestrators,  why AKS will also become the winner as a perfect implementation of managed Kubernetes in Azure. I think that will explain everything.

https://azure.microsoft.com/en-us/blog/introducing-azure-container-service-aks-managed-kubernetes-and-azure-container-registry-geo-replication/

[2018-05-11 15:26] gnufied commented on #113
Even without my proposal - for AzureDisk type it should be possible to set limit in latest k8s release. Can you try setting `KUBE_MAX_PD_VOLS` env variable to something like 5 and restart scheduler?

Fortunately scheduler already ships with some builtin intelligence for AzureDisks - https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/predicates.go#L106 and you p

[2018-05-14 03:38] andyzhangx commented on #113
@gnufied thanks for the solution!

[2018-05-22 14:28] mhabicht opened #117 "kubectl cluster-info not showing "kubernetes-dashboard is running at""
Move to correct thread.

https://github.com/kubernetes/dashboard/issues/3044

[2018-06-12 07:53] smileisak opened #118 "AttachDetach Failing for k8s 1.7.7"
**Is this a request for help?**:
It is a request.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Is this a BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

* Orchestrator: Kubernetes
* Version: 1.7.7

**What happened**:

I'm in production environment, running some databases as a StatefulSets with dynamic provisioning. Since yesterday, some pods fails with

[2018-06-12 11:37] andyzhangx commented on #118
Your issue could be related to https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#1-disk-attach-error

Could you help check whether disk `https://****.blob.core.windows.net/1634572225/****-k8s-****-****-pvc-****-1250-11e8-976e-*****.vhd` is already attached to another VM?
You may also try the mitigation way in the above link.

[2018-06-14 10:50] andyzhangx commented on #118
@smileisak is this issue resolved?

[2018-06-14 12:07] jbouzekri commented on #118
@andyzhangx : I work with @smileisak. Yes it has been resolved.

After last sunday Azure crash in West Europe datacenter, when the cluster started up again, a few disks were attached to the wrong VM (sometimes to 2 VMs at the same time). After detaching those disks from all the servers they were on, the pod syncs again on its own and attach the disk to the correct server (note it can take a few mi

[2018-06-14 21:04] mausquirk opened #119 "Volume mount with Kubernetes fails"
*this is a request for help*:
---
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7
[code]
**What happened**:
Creating a MySQL Pod fails:
Kubernetes reports:
[code]
The container's log:
[code]

Configuration:
[code]
Configruation
[code]
**What you expected to happen**:
I would expect it to work -> Pod running MySQL-Deamon starts successfully

**How to reproduce it** (as m

[2018-06-15 02:34] andyzhangx commented on #119
@mausquirk could you get the kubelet log from that agent node? need to ssh to that agent node and follow by:
[code]

[2018-06-15 06:59] mausquirk commented on #119
[error-log-failed-mount.log](https://github.com/Azure/ACS/files/2105051/error-log-failed-mount.log)

[2018-06-15 07:05] andyzhangx commented on #119
@mausquirk could you also run `kubectl describe po POD-NAME`, the logs you provided does not contain following text:
[code]

And what's your agent vm size? Could you help check whether that disk is already attached to the agent VM in azure portal? Thanks.

[2018-06-15 07:43] mausquirk commented on #119
[code]
The VM-Size is:
Standard DS2 (2 vcpus, 7 GB memory)
![grafik](https://user-images.githubusercontent.com/6492323/41456377-9540ded4-7080-11e8-9ef6-9173e0e91d56.png)

[2018-06-15 07:56] andyzhangx commented on #119
@mausquirk the disk actually attached to pod successfully, I could see following errors from your pods:
[code]
It looks like failure is due to there are files under `/var/lib/mysql`, disk format will create `DATALOSS_WARNING_README.txt` under that dir, would you use `subPath` instead? (it will create a new directory in the newly attached azure disk)
[code]

[2018-06-15 12:13] mausquirk commented on #119
I expected the volume to be as clean as a tarn in the Swiss Alps!!
I tried to mount the volume from my computer to verify this, but gave up due to the big download size (1GB).

Targeting the DB-data into the subPath did fix it! Thanks!

Is there a tool, to check a Page-Blob's content online?
BTW: What's written in this `DATALOSS_WARNING_README.txt`-File?

[2018-06-15 13:24] andyzhangx commented on #119
@mausquirk I was wrong, there should be a `lost+found` directory.

You don't need to download that blob disk, you could detach and attach to a running VM, and mount that disk into a dir to check content.

[2018-06-18 07:05] bublai commented on #105
@alexxie, I'm new on this development & landed with same error as mentioned by you.
-	Installed Docker version 18.03.1-ce, build 9ee9f40.
the exposed service shows up with External-IP, but could not browse API.
any help will be appreciated.

[2018-06-18 07:52] alexxie commented on #105
@bublai Our focus is now .net core and Linux container image which seems to be more stable then the Windows container image. I have not received further update on this issue and have'nt tested it further.

[2018-06-20 00:47] rafaelfbs commented on #74
@rjtsdl

The same happens in brazilsouth. I tried to set master vmSize param, but nothing changed.

[2018-06-28 08:40] mausquirk commented on #119
Thanks. That works.

[2018-06-28 08:40] #119 closed, assigned to nobody

[2018-07-08 12:48] dazinator opened #120 "docker stack deploy requires API version 1.25"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?**
Bug

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Swarm

**What happened**:

Following the [getting started guide](https://docs.microsoft.com/en-gb/azure/container-service/dcos-swarm/container-service-swarm-mode-walkthrough), created a new `swarm` under the `eastus` region  (I originally tried uk

[2018-07-10 13:04] Elihai opened #121 "get hpa"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2018-07-19 10:12] #86 closed

[2018-07-19 10:12] bramvdklinkenberg commented on #86
Use http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

[2018-07-25 00:34] nazneen84 opened #122 "How do I upgrade a cluster in Azure ACS"
**Is this a request for help?**:

Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-24T18:21:41Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"darwin/a

[2018-07-25 20:11] JackQuincy commented on #122
Upgrade is not a supported scenario on ACS. You'll either need to make a new cluster or manually upgrade the cluster, note manual upgrades will not be tracked by ACS so future ACS operation may not work as desired.

[2018-07-25 20:11] #122 closed, assigned to nobody

[2018-07-31 14:30] simpers commented on #98
@doggy8088 what does that entail? I'm having the same issue right now.

[2018-07-31 15:22] doggy8088 commented on #98
@simpers I'm not really know the technical details.  Are you using ACS with ManagedDisk to build Kubernetes cluster?

[2018-07-31 18:35] JackQuincy commented on #98
There is a Storage class that works on VMs without managed disks it just isn't the default in newer versions of K8s.

[2018-08-01 10:37] simpers commented on #98
@JackQuincy I think I tried both the default and the 'managed-premium', which exists by default but has to be selected manually. Is this the one you mean?

@doggy8088 I'm using AKS (I think ACS is older, or is it the same?). Azure Managed Kubernetes, anyway. I set it up with Azure CLI 2.0 (`az aks create ...`) but I don't know the details of the VMs to be honest.

[2018-08-01 20:48] guysoft opened #123 "[enhancement] Find nearby stations"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** None

**Anything else we need to know**:
I want to build a kiosk that would display nearby buses in a given radius. For that I need a way to get GPS coordinates, and from them return a list of bus stations. Then I can pu

[2018-08-01 20:51] JackQuincy commented on #123
This appears to be unrelated the ACS infrastructure entirely and something that would live at the application layer. Did you mean to open this issue on curlbus?

[2018-08-01 20:51] #123 closed, assigned to nobody

[2018-08-01 22:47] guysoft commented on #123
Ok, I have no idea how this ended up here. I don't even recall ever seeing this repository.
Anyway, sorry about that.

[2018-09-12 10:24] LakshyaGarg commented on #49
I am facing the same issue, any solution for this ?

[2018-09-25 01:54] abhikbanerjee commented on #49
I am having the same issue, any solution for the same, I have enabled heapster, but still get the same message

[2018-09-25 03:40] Mahesh-MSFT commented on #49
@samlyhuang @LakshyaGarg @abhikbanerjee temporary workaround as described [here](https://github.com/Azure/ACS/issues/49#issuecomment-322098955) has resolved my issue.

[2018-09-26 04:57] LakshyaGarg commented on #49
@abhikbanerjee  I solved this by checking out the latest heapster from https://github.com/kubernetes/heapster and running it solved the issue.

[2018-10-10 11:03] andrewtwemlow commented on #35
Any update?

[2018-11-28 16:36] ravenzak opened #124 "Azure acs error"
Request for help

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDate:"2018-04-12T14:26:04Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.13"

[2018-12-06 07:31] digeler commented on #124
this is internal bug we are working to fix this ,fix will be rolled out asap.
This is a regression since we started retiring k8s version
thanks digeler@microsoft.com

[2018-12-06 09:26] IvanovOleg commented on #102
Any news? Same issue in K8S 1.12.3

[2018-12-06 10:05] feiskyer commented on #102
@IvanovOleg  What errors have you got? Could you share the error message of kube-controller-manager?

[2018-12-06 11:19] IvanovOleg commented on #102
@feiskyer
[code]

If public ip exists and not connected to the actual lb as a front-end configuration it works fine. If lb exists and existing public ip is connected to lb - it fails with the next error:

`network.LoadBalancersClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="PublicIPReferencedByMultipleIPCon

[2018-12-06 11:45] feiskyer commented on #102
A public IP couldn't be referred by multiple LB frontend configurations, hence `If lb exists and existing public ip is connected to lb, it fails` is expected error. (This is the limitation of Azure ARM API.)

If you need to use a pre-defined public IP, you can create the public IP first and then set it to `spec.loadBalancerIP`.But be sure not connect it to existing frontend configurations. (This i

[2018-12-06 12:04] IvanovOleg commented on #102
@feiskyer It doesn't fix my problem. Terraform will destroy this front-end configuration on the next execution, because it wasn't defined. Will be great to have some kind of annotation that allows to use an existing front-end configuration.

[2018-12-10 06:40] feiskyer commented on #102
this is bad news. @khenidak @dstrebel do you know any ways to solve this issue?

[2019-02-04 22:24] kostyanius commented on #99
looks like issue still persists, Azure and Microsoft do not care about it at all but sell this buggy service! shame on them!

[2019-03-21 15:43] eluchsinger commented on #102
Is it possible to do something like this:

[code]

I get the same problem. But this is all from one single service, not multiple services using the same IP.

[2019-07-31 19:55] skryshtafovych opened #125 "System.AggregateException, (Docker API responded with status code=BadRequest, response={"message":"network"
**BUG REPORT**

After Pushing Images to Azure container registry and pulling latest docker-compose code down into Azure CLI i get Below error when the container set starts up with commands.

az webapp config container set --resource-group "" --name "" --multicontainer-config-type compose --multicontainer-config-file docker-compose.yml

ERROR - Container start failed for dockercomposeappletgi_influ

[2019-08-05 17:53] skryshtafovych commented on #125
**According to Microsoft:**

This is a known issue and Product Group is currently investigating.
As a workaround please try the following which has worked for other customers:
In container settings, select single container, select any image from the registry and click save.
Once the Save is success, select Docker Compose on the same page and click Save again.
Wait for some time to check if the iss

[2019-08-07 20:17] #106 closed, assigned to nobody

[2019-08-14 14:38] bigal91 commented on #125
i can confirm this issue. Habing the same in our Azure WebApp Service in a Docker-Compose environment.

Its been more than a week. Is there any updates on this? If the Product Group is investigating since that time (for an already known bug) I'd assume there might be some sort of progress?

[2019-09-03 12:55] andywhardy commented on #125
Has there been any progress on this issue? We are also hitting it.

The workarounds mentioned only work for a short period of time.

[2019-10-08 10:14] #118 closed, assigned to nobody

[2019-10-09 20:04] aegershman commented on #34
Using Pivotal Container Service (PKS) on Azure & ran into this

In my case the generated resource name is 81 characters long.

;_;

[2019-11-19 16:06] Ravenzmynd commented on #125
Ran into this issue today and the above didn't work.  The issue was on an App Service slot.  We corrected by deleting the app service slot and recreating.  App Service is back to normal now

[2020-02-10 20:34] Rakatashii commented on #125
Continuing to see this whenever the property WEBSITES_ENABLE_APP_SERVICE_STORAGE is set to true. Has any progress been made?

[2020-02-26 01:17] PatrickLang commented on #94
closing stale issue. This works fine on the AKS preview, and on self-managed clusters deployed using https://github.com/azure/aks-engine

[2020-02-26 01:17] #94 closed

[2020-04-12 14:27] hitesh74 commented on #99
same problem here. were you able to fix this?

[2020-04-12 14:40] kostyanius commented on #99
no

[2020-04-13 12:51] shubhasismathur commented on #74
I used eastus as region and followed the official documentation of Azure AKS, strange it gives me the same error.

Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'eastus'. The available VM sizes are Standard_D16_v3,Standard_D16a_v4,Standard_D16as_v4,Standard_D16s_v3,Standard_D2_v3,Standard_D2a_v4,Stand

[2020-04-13 12:53] shubhasismathur opened #126 "AKS cluster nor getting created"
Reference: https://github.com/Azure/ACS/issues/74

I am trying to create AKS cluster via AZ cli on eastus. It throws error :

Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'eastus'. The available VM sizes are Standard_D16_v3,Standard_D16a_v4,Standard_D16as_v4,Standard_D16s_v3,Standard_D2_v3,Standard_D

[2020-04-15 20:12] suityou01 commented on #126
Same issue here. Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription. I am on the free tier and following the online documentation from Microsoft.

[2020-04-25 02:05] priyankachauhan22 commented on #126
I am facing the same error with azure free trial.
Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'canadaeast'. The available VM sizes are Standard_M128,Standard_M128-32ms,Standard_M128-64ms,Standard_M128m,Standard_M128ms,Standard_M128s,Standard_M16-4ms,Standard_M16-8ms,Standard_M16ms,Standard_M32-16ms,

[2020-05-06 19:58] Sarkoutmahmoud commented on #99
See this document https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-ssh-support

[2020-05-09 18:55] #113 closed, assigned to nobody

[2020-08-19 16:12] #96 closed

[2020-08-19 16:12] madsd commented on #96
Stale

[2021-01-20 21:19] apchirinoc commented on #125
I have this issue too. Have there been any progress?

[2021-01-26 15:38] vparmeland commented on #125
Hello,

Same issue

[2021-04-19 11:02] swapnilpotnis opened #127 "Azure Container Instance in Terminated State, but Status is Running"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:
We have used Azure Container Instance service to start an application which is expected to run at all times. It picks the Docker Image from ACR. The container instance got created successfully on 16th April

[2022-01-19 02:36] mluker commented on #127
We are running into this exact issue. Any more info on it?

[2022-04-09 09:35] soorajSpowers4u commented on #74
how to add the prefered VM size in "az aks create" command ??? Im using a free tier account and im trying to deploy an aks cluster

[2022-04-18 15:44] manisripathi commented on #125
Hello,

Having the similar issue in Linux Web App for Container Azure App Service. Ran into this issue and the app is not responding anymore. Kudu was not responding and the resource was disconnected from log analytics.

I ended up creating another instance and it helped to bring the app live again. Is there any resolution to this issue or any workaround would be helpful.

`2022-04-15T18:55:53.061

[2022-06-09 10:27] shubham1172 commented on #74
See `--node-vm-size` in https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create
E.g., `az aks create <other flags> --node-vm-size DS3_v2`

Make sure that you are selecting a compatible size. The easiest way is to find one from the portal when you are creating the AKS cluster manually.